.accordion{
    .lv2{
        display: none;
    }
    &>li>a {
        &:after {
            content: '';
            width: 12px;
            height: 12px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url($dir-images + "arrow-down.svg");
        }
    }
    >li.selected{
        &>a:not([data-target]) {
            &:after {
                background-image: url($dir-images + "arrow-up.svg");
            }
        }
        .lv2 {
            display: block;
        }

        .accordion-title {
            color: $primary;
        }
    }

}