.accordion{
    .lv2{
        display: none;
    }
    &>li>a {
        &:after {
            content: '';
            width: 12px;
            height: 12px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url($dir-images + "plus.svg");
        }
    }
    >li.selected{
        &>a:not([data-target]) {
            &:after {
                background-image: url($dir-images + "minus.svg");
            }
        }
        .lv2 {
            display: block;
        }

        .accordion-title {
            color: $primary;
        }
    }
    &.faq-list,
    &.footer-menu {
        .lv2 {
            li:first-child{
                margin-top: 10px;
            }
        }
    }
}