// Buttons
.btn {
  width: fit-content;
  width: -moz-fit-content;
  border: none;
  // Reset
  @at-root {
    %button-reset {
      padding: 0;
      background: none;
      border: none;
      outline: none !important;
    }
  }

  &-reset {
    @extend %button-reset;
  }

  &-primary {
    color: $white !important;
  }

  &-icon {
    &-right,
    &-left {
      display: flex !important;
      align-items: center;
      svg {
        font-size: 16px;
      }
    }
    &-right {
      svg {
        margin-left: 10px;
      }
    }
    &-left {
      svg {
        margin-right: 10px;
      }
    }
  }

  // WhatsApp
  &-wp {
    background: #4dcb5b;
    border-color: #4dcb5b;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  // Theme Colors
  /*&-primary {
    background-color: $dark;
    color: $white !important;
  }

  &-secondary {
    background-color: $white;
    color: $dark !important;
  }*/

  &.disabled {
    background-color: $gray3 !important;
    border-color: $gray3 !important;
    color: $dark !important;
  }

  &-save {
    &.selected {
      .icon-save {
        --fill: #d72027;
        --stroke: #d72027;
      }
    }
  }
}
