.hr-form-container {
    max-width: 470px;
    margin: 0 auto;
}
.about {
    &-content-wrapper {
        grid-template-areas: 'corporate-img corporate-title'
                            'corporate-img corporate-content';
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        .corporate {
            &-title {
                grid-area: corporate-title;
            }
            &-img {
                grid-area: corporate-img;
            }
            &-content {
                grid-area: corporate-content;
            }
        }
    }
    &-vip {
        .about-content-wrapper {
            grid-template-areas: 'corporate-img corporate-content'
                            'corporate-img corporate-content';
        }
    }
}
