$active: #2027D7;
//$gray:#777167;
$step-size: 32px;
$step-width: 50px;
$step-height: 100px;
$step-line-gap: 6px;

.progress-steps {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 350px;
    position: absolute;
    right: 0;
    .step {
        width: $step-width;
        height: $step-height;

        &::after {
            content: "";
            position: absolute;
            width: 2px;
            background-color: $active;
            opacity: .6;
            height: calc($step-height - ($step-size + $step-line-gap * 2));
            left: calc($step-size / 2);
            top: calc($step-size + $step-line-gap)
        }
    }
}