// Common Styles
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}


//Mobil Working
.no-scroll {
    .swiper-scrollbar {
      display: none;
    }
}

//horizontal content layout
.d-swiper-layout-r {
  > .swiper-inner {
      > .swiper-wrapper {
          flex-direction: row;
      }
  }
}

//vertical content layout
.d-swiper-layout-v {
  > .swiper-inner {
      > .swiper-wrapper {
          flex-direction: column;
      }
  }
}


//Navigation-2
.slider-navigation-2 {
	> .swiper-button-prev,
	> .swiper-button-next {
      background-color: transparent !important;
		  display: block;
	}
	//pagination
	&.slider-pagination {
		> .swiper-pagination {
			  display: none;
		}
	}
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -($swiper-nav-width - 60px);
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -($swiper-nav-width - 60px);
}

//THEME

/* Home Slider */

.main-slider {
    .swiper-button-prev, 
    .swiper-button-next {
        top: auto;
        bottom: 68px;
        right: 68px;
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        transform: scale(-1);
        left: auto;
        right: $swiper-nav-width + 74px !important;
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: 68px;
    }
    .swiper-fraction{
        right: 33px;
        bottom: 76px
    }
}



.desktop-no-swipe {
  .swiper-inner>.swiper-wrapper {
    transform: none !important;
  }
  .swiper-scrollbar {
    display: none !important;
  }
  > .swiper-pagination,
  > .swiper-button-prev,
  > .swiper-button-next {
    display: none !important;
  }}

  .swiper-container-widget {
    .swiper {
        &-scrollbar {
            width: calc(100% - 130px);
            margin: 30px 0 !important;
        }
    }
}