.ems-tab {
    &-bordered {
        .ems-tab-header {
            a {
                border-bottom: 1px solid $gray;
                &.selected {
                    color: $black;
                   
                }
            }
        }
    }
    &-header {
        a {
            color: $black;
            margin-right: 10px;
            &.selected {
                color: $primary;
            }
        }
    }
}