// Responsive font weight
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        $font-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

        @each $font-weight in $font-weights {
            .fw#{$infix}-#{$font-weight} {
                font-weight: #{$font-weight} !important;
            }
        }
    }
}
// Responsive font weight


//Slider Widget

.widget{
    &-auto{
            li{
                width: auto !important;
            }
        }
    &-1{
        li{
            width: 100% !important;
        }
    }
    &-1_25{
        li{
            width: calc(100% / 1.25) !important;
        }
    }
    &-1_5{
        li{
            width: calc(100% / 1.5) !important;
        }
    }
    &-1_75{
        li{
            width: calc(100% / 1.75) !important;
        }
    }
    &-2{
        li{
            width: calc(100% / 2) !important;
        }
    }
    &-2_5{
        li{
            width: calc(100% / 2.5) !important;
        }
    }
    &-3{
        li{
            width: calc(100% / 3) !important;
        }
    }
    &-3_5{
        li{
            width: calc(100% / 3.5) !important;
        }
    }
    &-4{
        li{
            width: calc(100% / 4) !important;
        }
    }
    &-4_5{
        li{
            width: calc(100% / 4.5) !important;
        }
        
    }
    &-5{
        li{
            width: calc(100% / 5) !important;
        }
    }
    &-6{
        li{
            width: calc(100% / 6) !important;
        }
    }
    &-7{
        li{
            width: calc(100% / 7) !important;
        }
    }
    &-7_5{
        li{
            width: calc(100% / 7.5) !important;
        }
    }
}

.ob-fit{
    &-cover{
        object-fit: cover;
    }
    &-contain{
        object-fit: contain;
    }
    &-fill{
        object-fit: fill;
    }
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

//Line Height
.lh {
    &-0-75{
        line-height: 0.75;
    }
    &-1-25{
        line-height: 1.25;
    }
}
//Line Height

//Dotted
.dotted-items {
    >* {
        &:last-child::after {
            display: none;
        }
        &:after {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            background: currentColor;
            border-radius: 50%;
            margin: 2px 10px;
        }
    }
}

.hidden {
    display: none;
}

// Z-index
$z-indexes: 1, 2, 3;

@each $z-index in $z-indexes {
    .z-index-#{$z-index} {
        z-index: $z-index;
    }
}

// Colors
.text {
    &-blue {
        color: $blue;
    }
    
    &-orange {
        color: $orange;
    }
}



