
/* Hero Banners */
.hero-banner {
    position: relative;
    width: 100%;
    .ems-banner-title {

        &::before {
            content: '';
            background: #DF4826;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 88.84px;
            height: 1.48px;
        }
    }
  
}



/* Campaign Banners */
.camping-banner {
    position: relative;
    width: 100%;
    .ems-banner-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        width: 100%;
        max-width: 327px;
        height: 77px;
        padding: 14px 17px;
        border-radius: 2.96135px;
        box-sizing: border-box;
        .banner-left {
            h1 {
                margin-bottom: 4px;
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
        }
        .banner-right {
            margin-left: auto;
        }   
    }
}



/* Category Banner */
.category-banner {
    position: relative;
    width: 100%;
    max-width: 520px;
    .ems-banner-button {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        background: #FFFFFF;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-weight: 600;
            font-size: 13px;
            padding: 12px 24px;
        }
    }
}

