/* Product Card */

.d-flex {
  display: flex;
}
.product-card {
  position: relative;
  box-sizing: border-box;
  width: 450px;
  background: #f6f3f2;
  margin-right: 20px;
  .ems-card-favorito {
    position: absolute;
    top: 19px;
    right: 22px;
    z-index: 2;

    .icon-archive-fill {
      font-size: 14px;
    }
  }
  .ems-card-logo {
    position: absolute;
    bottom: 54px;
    left: 0px;
    width: 52px;
    height: 23px;
    background: #f6f3f2;
    text-align: center;
    span {
      font-size: 11px;
      font-weight: 400;
      color: #1a1818;
      padding: 4px 8px;
    }
  }
  .ems-card-badge {
    z-index: 1;
    bottom: 0px;
    right: 18px;
    position: absolute;
    .icon-elite {
      font-size: 109px;
    }
  }
  .ems-card-picture {
    position: relative;
  }
  .ems-card-footer {
    padding: 8px;
    .card-title {
      font-weight: 600;
      font-size: 13px;
      color: #1a1818;
      line-height: 18px;
    }
    .cheap-price {
      color: #635c5b;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      text-decoration-line: line-through;
      margin-right: 8px;
    }
    .red-price {
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #df4826;
    }
    .price {
      color: #1a1818;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
    }
  }
}




/* Hero Banners */
.hero-banner {
    position: relative;
    width: 100%;
    .ems-banner-title {

        &::before {
            content: '';
            background: #DF4826;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 88.84px;
            height: 1.48px;
        }
    }
  
}



/* Campaign Banners */
.camping-banner {
    position: relative;
    width: 100%;
    .ems-banner-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        width: 100%;
        max-width: 327px;
        height: 77px;
        padding: 14px 17px;
        border-radius: 2.96135px;
        box-sizing: border-box;
        .banner-left {
            h1 {
                margin-bottom: 4px;
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
        }
        .banner-right {
            margin-left: auto;
        }   
    }
}



/* Category Banner */
.category-banner {
    position: relative;
    width: 100%;
    max-width: 520px;
    .ems-banner-button {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        background: #FFFFFF;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-weight: 600;
            font-size: 13px;
            padding: 12px 24px;
        }
    }
}

