
.password-title {
    &::before {
        content:"";
        position: absolute;
        display: inherit ;
        margin-right: 0;
        top: 7px;
        left: -20px;
    }
}

.login {
    .login-left-menu {
        width: 100%;
        max-width: 520px;
        margin-top: 40px;
        margin-left: 55px;
        padding: 60px 60px;
        background: #fff;
    }
}


.login-social {
    flex-direction: inherit;
}
.m-hide {
    display: inherit;
}
.privaciy {
    margin-left: 40px !important;
}

.order-track-form-container {
    padding: 40px;
    max-width: 480px;
    margin-left: auto;
}
.order-truck {
    padding: 40px;
    max-width: 480px;
}