.login {
    .login-page {
        left: 0;
        top: 0;
        position: absolute;
    }
    .login-left-menu {
        background: $gray4;
        padding: 60px 18px;
     
    }
} 
.login {
    &-privacy {
        a {
            text-decoration: underline;
            color: $black;
        }
    }
    &-overlay {
        bottom: 50px;
    }
}
.password-title {
    &::before {
        content:"";
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1L1 6L6 11' stroke='%23272117'/%3E%3C/svg%3E%0A");
        background-size: 14px 14px;
        position: relative;
        display: inline-block;
        margin-right: 5px;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
    }
}
.ems-privacy {
    &-title {
        width: 70%;
    }
    &-close {
        top: 15px;
        right: 20px;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 125px;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        background-repeat: no-repeat;
    }
    
}

.welcome {
  .icon-succes {
        width: 70px;
        height: 70px;
    }
}

.border-lr {
    position: relative;
    &::before {
        content: "";
        width: 150px;
        background: #CAC6C6;
        height: 1px;
        position: absolute;
        left: -5px;
        top: 50%;
    }
    &::after {
        content: "";
        width: 150px;
        background: #CAC6C6;
        height: 1px;
        position: absolute;
        right: -5px;
        top: 50%;
    }
}

.fs-64{
    font-size: 64px !important;
}
.l-h-20 {
    line-height: 20px;
}

.login-privacy {
    line-height: 20px;
}
.m-hide {
    display: none;
}
.login-social {
    flex-direction: column;
}
.privaciy {
    margin-left: 0px;
}