.card-prd {
    .card {
        &-save {
            top: 19px;
            right: 22px;
        }
        &-badge {
            z-index: 1;
            bottom: -55px;
            right: 15px;
            .icon-elite {
              font-size: 110px;
            }
        }
        &-brand {
            background-color: $light;
            bottom: 0;
            left: 0;
            padding: 8px;
        }
        &-new {
            top: 19px;
            left: 22px;
            z-index: 1;
        }
    }
    .ratio {
        &::before {
            background-color: $gray4 !important ;
        }
    }
}