.single-banner {
    &.type-video {
        position: relative;
        .btn {
            bottom: 24px;
            &-play {
                left: 24px
            }
            &-sound {
                right: 24px;
            }
        }
    }
    &-media {
        position: relative;
    }
    &.type-bg-dark {
        background-image: url(#{$dir-images + 'dark-bg.png'});
        background-repeat: no-repeat;
        background-size: cover;
        .btn-dark-light {
            background-color: $white !important;
            border-color: $white !important;
            color: $dark !important;
        }
        .single-banner-text {
            color:$white;
        }
    }

}