.single-banner {
    &.type-video {
        position: relative;
        .btn {
            bottom: 24px;
            &-play {
                left: 24px
            }
            &-sound {
                right: 24px;
            }
        }
    }
    &-media {
        position: relative;
    }
    /*.slide-video {
        display: none;
    }*/
}