.square-banner {
    &.type-2 {
        .banner-overlay {
            background-color: transparent;
            &::after {
                display: none;
            }
            .special-title {
                color: $white;
                span {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
        .ems-square {
            background: $white;
            width: 100% !important;
            height: auto;
            position: absolute;
            bottom: 0;
            top: auto;
            .modal-close {
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }
    }

}
.w-90 {
    width: 90px;
}