.wizard {
    &-item {
        .btn {
            width: 220px;
            border-radius: 84px;
            padding: 36px 30px !important;
            background-color: #EEEBEA;
        }
    
        &.selected {
            .btn {
                background-color: $white;
            }
        }
    }
    &-tab {
        .ems-tab-header {
            background-color: #eeebea;
            overflow-x: auto;
        }
        .nav-link {
            padding: 26px 40px;
            margin: 0;
            z-index: 3;
            white-space: nowrap;
            min-width: 130px;
            &.activated {
                background-color: $white;
            }
        }
    }
}