.wizard {
    &-tab {
        .ems-tab-header {
            background-color: #eeebea;
            padding: 0 20%;
        }
        .nav-link {
            padding: 26px 40px;
            margin: 0;
            z-index: 3;
            white-space: nowrap;
            min-width: 130px;
            &.activated {
                background-color: $white;
            }
        }
    }
    &-back {
        margin-left: 20%;
    }
}