.site-footer {
    .opened {
        .order-track-info {
            display: none;
        }
    }
}
.footer-benefit {
    border-bottom: 1px solid $gray;
    li {
        max-width: 400px;
    }
}

.info-bulletin {
    max-width: 300px;
}
.form-bulletin {
    max-width: 420px ;
}