.site-header {
  transition: all 0.32s ease-in-out;
  &-animate & {
    position: sticky;
    background: $white !important;
    box-shadow: 0 0.125rem 0.25rem rgba(39, 33, 23, 0.08) !important;
  }
}
.header-mini-top {
    .right-wrapper {
        li {
           &.selected {
                background: $light;
           }
        }
    }
}
.header {
    &-logo {
        min-width: 130px;
    }
}
//////////////////////////////////7777777777

//Menu
.ems-menu {
  //lvl1
  .lvl-1 {
    > li {
      &.selected {
        .lvl-2 {
          display: block;
        }
      }
    }
  }
  //lvl2
    .lvl-2 {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }

    .menu-prd {
        &-type,
        &-brands {
            li {
                &:nth-child(n+2)
                {
                    margin-top: 12px;
                }
            }
        }
    }

  
  //lvl3
  .lvl-3 {
    display: none;
    li {
        &:nth-child(n+2)
        {
            margin-top: 12px;
        }
    }
  }
}

//Search
.ems-search {
  background: $light !important;
  overflow-x: hidden !important;
  .search-blog {
    border-top: 1px solid rgba(119, 113, 103, 0.2);
    .blog-post {
      &-subtitle,
      &-title {
        @include line-clamp(3);
        height: 60px;
      }
      &-desc {
        width: 80%;
      }
    }
  }
  .search {
    &-input {
      &-wrapper {
        position: relative;
        .ems-search-trigger {
            position: absolute;
            right: 10px;
            top: calc(50% - 15px)
        }
      }
    }
  }
    .search-suggest-list {
        ul {
            li > a {
                background-color: $gray4;
                padding: 8px 16px;
                border-radius: 50px;
            }
        }
    }
    &-no-results {
        .no-result-icon {
            width: 65px;
            height: 65px;
            margin: 0 auto;
            background: $gray4;
            padding: 15px;
            border-radius: 100%;
            .icon-search {
                font-size: 35px;
            }
        }
    }
}
