.header-wrapper {
    grid-template-areas: 'header-logo header-logo header-logo header-logo  header-icons header-icons'
                        'main-menu main-menu main-menu main-menu header-info header-info';
                        grid-template-columns: 1fr 1fr;
    //grid-gap: 5px;
    .ems-menu-trigger {
        grid-area: menu-trigger;
    }
    .header {
        &-logo {
            grid-area: header-logo;
            width: 200px;
        }
        &-icons {
            grid-area: header-icons;
        }
        &-info {
            grid-area: header-info;
        }
        &-search {
            position: relative;
            .ems-search-trigger {
                position: absolute;
                right: 10px;
                top: calc(50% - 10px)
            }
        }
    }
    .ems-menu {
        grid-area: main-menu;
    }
}

//Header Type 2 - When page class has .header-type-2
.header-type-2 {
    .header-wrapper {
        grid-template-areas: 'menu-trigger header-logo header-logo header-logo header-icons header-icons';
        grid-template-columns: 40px 1fr;
    }
    .header-info,
    .ems-menu {
        display: none !important;
    }
    .ems-menu-trigger {
        display: block !important;
    }
}
//Header Type 3 - Sneaker / Vip Çocuk - When page class has .header-type-3
.header-type-3 {
    .header {
        &-wrapper {
            grid-template-areas: 'main-menu main-menu header-logo header-logo header-logo header-info header-icons';
            grid-template-columns: 2fr 1fr 1fr 1fr auto;
        }
        &-search {
            .ems-search-trigger {
                position: relative !important;
                top: auto;
                right: auto;
            }
            .search-input {
                display: none !important;
            }
        }
    }
    .premium-info {
        display: none;
    }
    
}

.lvl-1 {
    &-item {
        &:nth-child(n+2)
        {
            margin-left: 20px;
        }
    }
}


//Search
.ems-search {
    &-ready & {
        @extend %ems-modal-lg-ready;
        &-close {
        display: block !important;
        }
    }

    &-animate & {
        @extend %ems-modal-lg-animate;
        top: 0;
        left: 0;

        &-overlay {
        @extend %ems-modal-lg-animate-overlay;
        }
    }

    &-results {
        width: 80%;
        margin: 0 auto;

        &-ready {
        .ems-search-words {
            display: none;
        }
        }

        &-ready & {
        display: block;
        }
    }
    &-overlay {
        background: rgba($color: $white, $alpha: 0);
    }
    &-wrapper {
        width: 600px;
        margin: 0 auto;
    }
    .search {
        &-logo {
            width: 230px;
            margin: 0 auto;
        }
        &-close {
            position: absolute;
            top: 30px;
            right: 30px;
        }
        &-input {
          width: 100%;

        }
        &-products {
            ul {
                display: grid;
                gap: 4px;
                grid-template-columns: 1fr 1fr 1fr;
                .swiper-slide {
                    width: 100% !important;
                }
            }
        }
    }
    .top-search-list,
    .last-search-list {
        ul {
            li > a {
                background-color: $gray4;
                padding: 8px 16px;
                border-radius: 50px;
            }
        }
        .dotted-items {
            *:after {
                display: none;
            }
        }
    }
}

$header-trigger-active-transition: all 0.2s ease;
$header-trigger-active-shadow: 0px -3px 0px $primary inset;

/* User
.ems-user {
    max-width: 400px;

    &-trigger {
        transition: $header-trigger-active-transition;
    }

    &-ready & {
        @extend %ems-modal-lg-ready;
    }

    &-animate {
        .memberLogon {
            z-index: $zindex-modal;
            box-shadow: $header-trigger-active-shadow;
        }
    }

    &-animate & {
        @extend %ems-modal-lg-animate;

        &-overlay {
            @extend %ems-modal-lg-animate-overlay;
        }
    }
}

// Cart
.ems-cart {
    max-width: 400px;
    max-height: 530px;

    &-trigger {
        transition: $header-trigger-active-transition;
    }

    &-ready & {
        @extend %ems-modal-lg-ready;
    }

    &-animate & {
        @extend %ems-modal-lg-animate;

        &-trigger {
            z-index: $zindex-modal;
            box-shadow: $header-trigger-active-shadow;
        }

        &-overlay {
            @extend %ems-modal-lg-animate-overlay;
        }
    }
}*/

// Menu
.ems-menu {
  position: inherit;
  display: inline-block;
  opacity: 1;
  transform: none;
  .lvl-1 {
    &-item {
      &-link {
        transition: all 0.32s ease-in-out;
      }
      &.selected {
        .lvl-1-item-link {
          position: relative;
          &:before {
            content: '';
            width: 100%;
            height: 1px;
            font-size: 30px;
            background: $primary;
            border: 1px solid $primary;
            position: absolute;
            top: 42px;
            left: 0;
          }
        }
      }
    }
  }
  // lvl 2
  .lvl-2 {
    background: $light;
    top: 100%;
    padding: 0 20px;

  }
  .lvl-3 {
    display: block;
    a:hover {
      color: $primary;
    }
  }

  .menu-prd {
    &-wrapper {
      display: grid !important;
      grid-template-areas: 'menu-prd-type menu-prd-type menu-prd-featured menu-prd-featured menu-prd-featured menu-prd-featured'
                            'menu-prd-brands menu-prd-brands menu-prd-featured menu-prd-featured menu-prd-featured menu-prd-featured';
      //flex-wrap: wrap;
      width: 100%;
    }
    &-type {
      grid-area: menu-prd-type;
      li {
        &:nth-child(n+2)
        {
          margin-top: 10px;
        }
      }
      a {
        &:hover {
          color: $primary;
        }
      }
    }

    &-brands {
      grid-area: menu-prd-brands;
      a {
        &:hover {
          color: $primary;
        }
      }
    }
    &-featured {
      grid-area: menu-prd-featured;
      border-left: 1px solid $gray;
      width: 70%;
      order: 3;
      display: grid;
      grid-template-areas: 'featured-item-1 featured-item-2 featured-item-3 featured-item-5 '
                            'featured-item-1 featured-item-2 featured-item-4 featured-item-6';
      .featured-item {
        &-1 {
          grid-area: featured-item-1;
        }
        &-2 {
          grid-area: featured-item-2;
        }
        &-3 {
          grid-area: featured-item-3;
        }
        &-4 {
          grid-area: featured-item-4;
        }
        &-5 {
          grid-area: featured-item-5;
        }
        &-6 {
          grid-area: featured-item-6;
        }
      }
    }
  }
  .menu-img {
    right: 0;
    bottom: 0;
    width: 154px;
  }
  &-overlay {
    top: $site-header-height-lg;
  }
  &-animate {
    .header-wrapper {
      border-bottom: 1px solid rgba(119, 113, 103, 0.2);
    }
  }
  &-animate & {
    &-overlay {
      @extend %ems-modal-lg-ready;
    }
  }
}
.mini-cart {
  &-body {
    overflow-y: auto;
  }
  &-content,
  &-content-inner {
    max-width: 540px;
    left: auto !important;
    right: 0;
    opacity: 0;
    .icon-close {
      height: 13px;
      width: 13px;
    }
  }
  &-prd-img {
    border-color: rgba(119, 113, 103, 0.2);
  }
}
.mini-cart-body .ems-message {
  display: none;
}
.cart {
  &-empty {
    .mini-cart-body .ems-message {
      display: block;
    }
    .ems-grid-wrapper,
    .ems-cart .cart-footer {
      display: none;
    }
  }
}

.ems-cart {
  max-width: 540px;

  &-ready & {
    @extend %ems-modal-lg-ready;
  }

  &-animate {
    @extend %ems-modal-lg-animate-body;
  }

  &-animate & {
    @extend %ems-modal-lg-animate-x;
    @extend %ems-modal-lg-animate;
    &-overlay {
      @extend %ems-modal-lg-animate-overlay;
    }
  }
}
