// Menu
.ems-menu {
    background: $white;
    
    //lvl-1
    .lvl-1 {
        &-item {
            padding: 20px 0;
            border-bottom: 1px solid rgba(139, 133, 123, .3);
            line-height: 1;
            &-link {
                position: relative;
                display: flex;
                &::before {
                    content: "";
                    position: absolute;
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyOCAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgNy41SDI2TTI2IDcuNUMyMy42NjY3IDguMzMzMzMgMTkgOC4xIDE5IDAuNU0yNiA3LjVDMjMuNjY2NyA2LjgzMzMzIDE5IDcuMyAxOSAxNC41IiBzdHJva2U9IiMyNzIxMTciLz4KPC9zdmc+Cg==");
                    background-repeat: no-repeat;
                    width: 26px;
                    height: 14px;
                    background-size: 26px 14px;
                    right: 0;
                    left: auto;
                
                }
            }
            &.selected {
                background: $white;
                position: fixed;
                width: 100%;
                min-height: 100%;
                z-index: 2;
                top: 0;
                left: 0;
                padding: 20px 20px 0 20px;
                .lvl-1-item-link {
                    font-size: 1rem;
                    padding: 5px 0 20px 54px;
                    border-bottom: 1px solid rgba(139, 133, 123, .2);;
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L1 9L9 17' stroke='%23272117'/%3E%3C/svg%3E%0A");
                        background-size: 18px 18px; 
                        width: 18px;
                        height: 18px;
                        left: 0;
                        right: auto;
        
                    }
                }
            }
        }
    }
    .lvl-2 {
        position: relative;
        background: $white;
        &-item {
            border-bottom: 1px solid rgba(139, 133, 123, .3);
            &-link {
                &::before {
                    content: "";
                    position: absolute;
                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6H12V7.5H0V6Z' fill='%23272117'/%3E%3Cpath d='M5.25 12.75V0.75H6.75V12.75H5.25Z' fill='%23272117'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-size: 18px 18px;
                    width: 18px;
                    height: 18px;
                    right: 5px;
                }
            }
            &.selected {
                border-bottom: 0;
            }
        }
        .sub-items {
            &.selected {
                .lvl-2-item-link {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='2' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='1.5' fill='%23272117'/%3E%3C/svg%3E%0A");
                    }
                }
                .lvl-3 {
                    display: block;
                }
            }
        }
        .menu-prd {
            &-cat {
                line-height: 1.8;
            }

        }
    }
    &-animate {
        @extend %ems-modal-animate-body;
    }
    &-animate & {
        @extend %ems-modal-ready;
        @extend %ems-modal-animate;
        @extend %ems-modal-animate-x;

        &-overlay {
            @extend %ems-modal-animate-overlay;
        }
    }
}

//Search
.ems-search {
    display: flex;
    transform: translateX(100%);
    background: $light;
    .last-search-list,
    .top-search-list {
            overflow-x: auto;
        
        ul {
            width: max-content;
        }
    }
 


    &-results {
        //display: none;

        &-ready {
            .ems-search-words {
                display: none;
            }
        }

        &-ready & {
            display: block;
        }
    }

    &-ready & {
        @extend %ems-modal-ready;
    }
    
    &-animate {
        @extend %ems-modal-animate-body;
    }

    &-animate & {
        @extend %ems-modal-animate;
        @extend %ems-modal-animate-y;

        &-overlay {
            @extend %ems-modal-animate-overlay;
        }
    }
}
