.notfound-desc {
    margin: 176px auto;
    max-width: 406px;
    text-align: center;
    align-items: center;
    &-white {
        background: #fff;
        padding: 32px 21px;
        max-width: 324px;
    }
}
.img-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}