.notfound,
.welcome {
   .img-wrap {
        width: 100%;
        max-width: 500px;
        height: 100%;
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translateX(-50%);

    }
}

.blog-container {
    gap: 10%;
    .blog {
        &-content {
            width: 60%;
            &-detail {
                .prm-media {
                    margin: 30px 0;
                }
            }
        }
        &-sidebar {
            width: 30%;
        }
    }
}

.blog-slider {
    .swiper-wrapper {
        flex-direction: column;
        gap: 12px;
        .blog-post {
            .prm-media {
                max-height: 212px;
                max-width: 212px;
            
            }
            img {
                height: 100%;
                object-fit: cover;
            }
        }
       
    }
}
