.prd-list-filter {
    .filter {
        &-set {
            border: none;
            &-item {
                border:none;
            }
        }
    }
}

.prd-list-cover-filter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .btn {
        width: 260px;
        border-radius: 84px;
        padding: 23px 29px;
    }
}
.ems-prd-list {
    &-wrapper {
        row-gap: 50px;
    }
}

.view {
    &-default {
        .ems-prd-list {
            &-wrapper {
                li {
                    width: calc(100% / 4);

                    &:nth-child(n+9) {
                        width: calc(100% / 3);
                    }
                    &.prd-blog-post  {
                        display: none !important;
                    }
                }
                &.ems-prd-with-blog {
                    li {
                        &:nth-child(n+8) {
                            width: calc(100% / 3);
                        }
                        &.prd-blog-post  {
                            width: 50%;
                            display: block !important;
                        }
                    }
                }
            }
        }
    }
    &-6 {
        .ems-prd-list {
            &-wrapper {
                li {
                    width: calc(100% / 6);
                    &.prd-blog-post  {
                        display: none !important;
                    }
                }
            }
        }
    }
}

.product-list-cicle-widget {
    .swiper-slide {
        @include swiper-slide(calc(100% / 4 - 30px), 30px, 0, 0)
    }
}