+swiper('WidgetProgressbar', false, true, true)(class="swiper-container-widget widget-lg-3_5 widget-1_25")
    li.swiper-slide.me-5.d-none.d-lg-block
    -for(var i=0; i<8; i++)
        li.swiper-slide.me-5
            .blog-post.col.pb-20.pb-lg-60
                .blog-post-body.arrow-hover.position-relative.bg-white
                    +picture("ratio ratio-1x1", false, dirUploads + "banner/balik.jpg", dirUploads + "banner/balik.jpg", dirUploads + "banner/balik.jpg").w-100
                    .blog-post-desc.mt-10.mt-lg-15.py-25.px-25
                        h3.blog-post-title.fw-600.fs-lg-24.fs-20.lh-1-25.arrow-box.position-relative Kalp Krizini Önleyen Sağlıklı Besinler
                        .blog-post-subtitle.fs-14.fs-lg-16.mt-10
                            p.lh-1-25.m-0 Geniş ürün yelpazesiyle, en eşsiz gözlük ve aksesuarlar şimdi KoraySpor Saat’te.
                        .d-flex.align-items-center.mt-15 
                            .py-10.px-10.bg-gray4.me-10.fs-13.fw-600 Beslenme
                            span.fs-lg-13.fw-600.fs-12 1 Nisan 2021 - 7 dk okuma
                        a.mt-25.d-block(href="/blog-detail.html") 
                            span  Daha Fazla
                            +icon("caret-right").fs-12