ul.m-auto.corporate-sidebar.list-unstyled.d-flex.ems-scrollbar-mobile.justify-content-lg-center.mt-30.mt-lg-50
    li.selected.px-30.py-25
        a.w-auto(href="javascript:void(0);") Tümü
    li.px-30.py-25
        a.w-auto(href="javascript:void(0);")  Antrenman
    li.px-30.py-25
        a.w-auto(href="javascript:void(0);")  Beslenme
    li.px-30.py-25
        a.w-auto(href="javascript:void(0);")  Yaşam ve Sağlık
    li.px-30.py-25
        a.w-auto(href="javascript:void(0);")  Spor Etkinliklieri