.ems-tab-header.m-auto.ems-section-wrapper.list-unstyled.d-flex.corporate-sidebar.ems-scrollbar-mobile.justify-content-lg-center
    a.w-auto.me-60.my-5.position-relative.selected.active.flex-shrink-0(href="javascript:void(0);" rel="tab-1") 
        span Tümü
    a.w-auto.me-60.my-5.position-relative.flex-shrink-0(href="javascript:void(0);" rel="tab-2") 
        span Antrenman
    a.w-auto.me-60.my-5.position-relative.flex-shrink-0(href="javascript:void(0);") 
        span Beslenme
    a.w-auto.me-60.my-5.position-relative.flex-shrink-0(href="javascript:void(0);") 
        span Yaşam ve Sağlık
    a.w-auto.me-60.my-5.position-relative.flex-shrink-0(href="javascript:void(0);") 
        span Spor Etkinliklieri