+swiper('WidgetProgressbar', false, true, true)(class="swiper-container-widget widget-lg-3_5 widget-1_25")
    li.swiper-slide.me-5.d-none.d-lg-block
    -for(var i=0; i<8; i++)
        li.swiper-slide.me-5
            +blog-slider()