nav.ems-sidebar.col-12.mb-10
    ul.ems-section-wrapper.list-unstyled.d-flex.mt-30.corporate-sidebar.ems-scrollbar-mobile
        li.w-auto.me-15.my-5.position-relative.active
            a(href="/destek/yetkili-servisler") Sık Sorulan Sorular
        li.w-auto.me-15.my-5.position-relative.selected
            a(href="/destek/yetkili-servisler") İşlem Rehberi
        li.w-auto.me-15.my-5.position-relative
            a(href="/destek/yetkili-servisler") Ödeme
        li.w-auto.me-15.my-5.position-relative
            a(href="/destek/yetkili-servisler") Teslimat
        li.w-auto.me-15.my-5.position-relative
            a(href="/destek/yetkili-servisler") İptal / İade Koşulları