nav.corporate-sidebar.col-12.py-30
    ul.ems-section-wrapper.list-unstyled.d-flex.corporate-sidebar.ems-scrollbar-mobile.py-20
        li.w-auto.me-15.my-5.position-relative.active
            a(href="/corporate-about.html") Hakkımızda
        li.w-auto.me-15.my-5.position-relative
            a(href="/corporate-stores.html") Mağazalar
        li.w-auto.me-15.my-5.position-relative
            a(href="/sss.html") Sık Sorulan Sorular
        li.w-auto.me-15.my-5.position-relative.selected
            a(href="/corporate.html") Kariyer
        li.w-auto.me-15.my-5.position-relative
            a(href="/corporate-text.html") Corporate Text
        li.w-auto.me-15.my-5.position-relative
            a(href="/transfer.html") Teslimat
        li.w-auto.me-15.my-5.position-relative
            a(href="/contact.html") İletişim