.container.px-lg-60.fs-12.fs-lg-14.mt-60
    ul.footer-benefit.list-unstyled.d-flex.justify-content-lg-around.py-10.py-lg-100
        li.d-flex.align-items-center.px-20.px-lg-40
            +icon("cargo").fs-24.fs-lg-40.me-15.me-lg-30
            div
                span.d-block.mt-10.mt-lg-30.fs-20.fs-lg-30.fw-700 Kargoyu düşünmeyin
                p.mt-5.mt-lg-10 199 TL ve üzerinde ücretsiz kargo
        li.d-flex.align-items-center.px-20.px-lg-40
            +icon("return").fs-24.fs-lg-40.me-15.me-lg-30
            div
                span.d-block.mt-10.mt-lg-30.fs-20.fs-lg-30.fw-700 Ücretsiz iade ve değişim
                p.mt-5.mt-lg-10 Şimdi çok kolay
        li.d-flex.align-items-center.px-20.px-lg-40
            +icon("whatsapp").fs-24.fs-lg-40.me-15.me-lg-30
            div
                span.d-block.mt-10.mt-lg-30.fs-20.fs-lg-30.fw-700 Kafanızda soru işareti kalmasın
                p.mt-5.mt-lg-10 WhatsApp’tan bize sorun
.container.py-60.px-lg-120
    .row
        .col-12.col-lg-6
            .info-bulletin.mx-auto
                div.fs-30.fw-700 Fırsatlar Burada
                p.mt-10.mb-15 Korayspor’da sana özel fırsatlar ve yeni ürünlerden haberdar olmak için kaydol.
        .col-12.col-lg-6.mt-50.mt-lg-0
            form.fs-16.ems-form.form-bulletin.mx-auto.opened(action='/' method='POST' id="Newsletter", autocomplete="off")
                .ems-field.form-floating.icon-input-box
                    input.form-control.newsletter-input.input-icon(type="text", id="email", name="email" placeholder="E-Posta Adresi")
                    label.input-icon-label(for="email") E-Posta Adresi
                    .ems-field-feedback.fs-12.d-none.position-absolute
                    //a.btn.btn-light.rounded-circle.bg-white.p-0.position-absolute.newsletter-close.justify-content-center.align-items-center(href="javascript:void(0);" onclick="newsletterfocus(this, false)")
                        +icon("close").fs-16.p-5
                .newsletter-drawer.mt-10
                    .newsletter-privacy.d-flex.align-items-center
                        div
                            // Styler kaldırılacak !!!
                            .sStylerMainWrp.sStylerWrp_checkbox
                                .cStyler.checked
                                    i.icon-checkbox
                                    i.icon-checkbox-active
                                input.privacy-policy(type="checkbox")
                            // Styler kaldırılacak !!!
                        .ms-10.fs-13
                            p Yasal koşulları ve politikaları okudum.
.container.position-relative
    .row
        .col-12.col-lg-4.position-relative.p-0
            +img('ratio ratio-375x509 footer-image', false, dirUploads + 'footer/footer-img.jpg')
            h4.footer-slogan.position-absolute.text-white.fw-600 Güvenle alışveriş yapın. Dilediğiniz zaman ücretsiz iade ve değişim yapabilirsiniz.
        .col-12.col-lg-8
            .d-lg-flex.flex-lg-column.justify-content-lg-between.px-lg-60.pt-60.pt-lg-100.pb-lg-50.h-100
                .footer-buttons.d-lg-flex.align-items-center.gap-15.px-60.px-lg-0
                    a.btn.btn-lg.btn-white.btn-icon-left.w-100.w-lg-auto(href="javascript:void(0)")
                        +icon("headset")
                        span.ms-10 Müşteri Hizmetleri
                    a.btn.btn-lg.btn-white.btn-icon-left.w-100.w-lg-auto.mt-10.mt-lg-0(href="javascript:void(0)")
                        +icon("box")
                        span.ms-10 Sipariş Takibi
                    a.btn.btn-lg.btn-white.btn-icon-left.w-100.w-lg-auto.mt-10.mt-lg-0(href="javascript:void(0)")
                        +icon("store")
                        span.ms-10 Mağaza Bul
                ul.list-unstyled.row.row-cols-1.row-cols-lg-4.accordion.accordion-mobile.footer-menu.g-0.mt-60.mt-lg-100
                    li.col(rel="tab-2") 
                        a.fs-16.fw-600.d-flex.justify-content-between.align-items-center(href="javascript:void(0);") 
                            span Spor Branşları
                        ul.list-unstyled.text-gray2.mt-lg-30.lv2  
                            li.mb-10 
                                a(href="#") Hakkımızda 
                            li.mb-10 
                                a(href="#") İletişim 
                            li.mb-10 
                                a(href="#") Mağazalar 
                            li.mb-10 
                                a(href="#") Kurumsal Satış
                            li.mb-10 
                                a(href="#") İnsan Kaynakları
                    li.col(rel="tab-2")  
                        a.fs-16.fw-600.d-flex.justify-content-between.align-items-center(href="javascript:void(0);")
                            span Kurumsal
                        ul.list-unstyled.text-gray2.mt-lg-30.lv2
                            li.mb-10 
                                a(href="#") Sıkça Sorulan Sorular 
                            li.mb-10 
                                a(href="#") İşlem Rehberi 
                            li.mb-10 
                                a(href="#") Ödeme
                            li.mb-10 
                                a(href="#") Teslimat 
                            li.mb-10 
                                a(href="#") İptal / İade Koşulları
                    li.col(rel="tab-2") 
                        a.fs-16.fw-600.d-flex.justify-content-between.align-items-center(href="javascript:void(0);") 
                            span Destek
                        ul.list-unstyled.text-gray2.mt-lg-30.lv2  
                            li.mb-10 
                                a(href="#") Hakkımızda 
                            li.mb-10 
                                a(href="#") İletişim 
                            li.mb-10 
                                a(href="#") Mağazalar 
                            li.mb-10 
                                a(href="#") Kurumsal Satış
                            li.mb-10 
                                a(href="#") İnsan Kaynakları
                    li.col(rel="tab-2") 
                        a.fs-16.fw-600.d-flex.justify-content-between.align-items-center(href="javascript:void(0);") 
                            span Müşteri Hizmetleri
                        ul.list-unstyled.text-gray2.mt-lg-30.lv2  
                            li.mb-10 
                                a(href="#") Hakkımızda 
                            li.mb-10 
                                a(href="#") İletişim 
                            li.mb-10 
                                a(href="#") Mağazalar 
                            li.mb-10 
                                a(href="#") Kurumsal Satış
                            li.mb-10 
                                a(href="#") İnsan Kaynakları
                .d-lg-flex.justify-content-lg-between.my-60.my-lg-60
                    .footer-social-media.d-lg-flex.align-items-lg-center
                        span.fs-16 Sosyal Medya 
                        ul.list-unstyled.d-flex.mt-20.mt-lg-0.ms-lg-20
                            li.me-30 
                                a(href="https://www.facebook.com/", target="blank")
                                    +icon("facebook").fs-28.bg-white.rounded-circle.p-5
                            li.me-30
                                a(href="https://twitter.com/", target="blank") 
                                    +icon("twitter").fs-28.bg-white.rounded-circle.p-5 
                            li.me-30
                                a(href="https://www.instagram.com/", target="blank") 
                                    +icon("instagram").fs-28.bg-white.rounded-circle.p-5
                            li
                                a(href="https://www.youtube.com/", target="blank") 
                                    +icon("pinterest").fs-28.bg-white.rounded-circle.p-5
                    .d-flex.justify-content-between.d-lg-block.mt-100.mt-lg-0    
                        .footer-download.d-flex.flex-column.flex-lg-row.gap-5
                            +img('ratio ratio-100x30 ratio-bg-remove', false, dirImages + 'app-store.png')
                            +img('ratio ratio-100x30 ratio-bg-remove', false, dirImages + 'google-play.png')
                        .d-lg-none
                            +img('ratio ratio-90x25 global-sign ratio-bg-remove', false, dirImages + 'global-sign.png')
                            +img('ratio ratio-119x28 visa-master mt-10 ratio-bg-remove', false, dirImages + 'visa-master.png')

                .d-lg-flex.align-items-lg-center.justify-content-lg-between.text-gray2.fs-13
                    ul.list-unstyled.d-lg-flex.footer-policies.dotted-items-desktop
                        li
                            a(href="javascript:void(0);") Gizlilik Politikası
                        li.mt-10.mt-lg-0
                            a(href="javascript:void(0);") Çerez Politikası
                        li.mt-10.mt-lg-0
                            a(href="javascript:void(0);") Kişisel Verilerin Korunumu Kanunu
                    .d-flex.justify-content-between.mt-30.mt-lg-0.align-items-center
                        .rights-reserved.position-lg-absolute
                            span.fs-12 ©2022, Konyalı Saat Tüm hakları saklıdır.
                        div 
                            span.me-20
                                +icon("minus99")
                            span
                                +icon("proj-e").proje-icon
                    .d-none.d-lg-inline-flex.align-items-center
                        +img('ratio ratio-90x25 global-sign ratio-bg-remove', false, dirImages + 'global-sign.png')
                        +img('ratio ratio-119x28 visa-master ratio-bg-remove ms-30', false, dirImages + 'visa-master.png')