
.header-mini-top.d-none.d-lg-flex.justify-content-between.bg-white.fs-13
    .container
        ul.right-wrapper.list-unstyled.d-flex.justify-content-end.align-items-center.ms-auto
            li.py-5.px-15.selected
                a(href="") Korayspor
            li.py-5.px-15 
                a(href="") Sneakers
            li.py-5.px-15 
                a(href="") VipÇocuk
.header-wrapper.d-flex.d-lg-grid.justify-content-between.align-items-center.p-15.px-lg-30
    a(class="ems-menu-trigger d-lg-none align-items-center" aria-label="Menu" href="javascript:void(0);")
        +icon('burger').fs-20
    .ems-menu-overlay.ems-overlay(data-target="body" data-ready="ems-menu-ready" data-animate="ems-menu-animate" data-type="remove")
    .ems-menu.ems-modal.d-lg-block.ems-scrollbar-mobile.ems-scrollbar-vertical.ems-modal-start
        .ems-modal-header.d-lg-none.p-20
            .ems-modal-close.d-flex.align-items-center.justify-content-between.pt-5.pb-20
                span Menü
                a(class="me-5 me-15" href="" aria-label="Close"  data-target="body" data-ready="ems-menu-ready" data-animate="ems-menu-animate" data-type="remove")
                    +icon('close').fs-16
        .ems-modal-body
            .ems-modal-info.p-20.d-lg-none 
                h2.fs-24 Hoş Geldiniz
                p.fs-16 Satın aldıklarınızı, koleksiyonlarınızı vb. görmek için hesabınıza giriş yapın.
                a.btn.btn-dark.w-100(href="#") Giriş Yap / Üye Ol
            ul.lvl-1.list-unstyled.d-lg-flex.px-20.px-lg-0
                li.sub-items.lvl-1-item.fs-18.fs-lg-16
                    a.lvl-1-item-link(href="/product-list.html") Yeni
                li.sub-items.lvl-1-item.fs-18.fs-lg-16
                    a.lvl-1-item-link(href="/product-list.html") Erkek
                li.sub-items.lvl-1-item.fs-18.fs-lg-16
                    a.lvl-1-item-link(href="/product-list.html") Kadın
                li.lvl-1-item.fs-18.fs-lg-16 
                    a.lvl-1-item-link(href="brand-list.html") Çocuk
                li.lvl-1-item.fs-18.fs-lg-16 
                    a.lvl-1-item-link(href="#") Spor Branşları
                li.lvl-1-item.fs-18.fs-lg-16 
                    a.lvl-1-item-link(href="#") Markalar

    .header-logo
        a(href="/")
            +img('ratio ratio-logo ratio-bg-remove', false, dirImages + 'logo.svg')
    .header-icons.d-flex.justify-content-end.align-items-center
        .header-search
            input(placeholder="Ürün arama").search-input.p-10.fs-13.d-none.d-lg-inline-block
            a(class='ems-search-trigger px-10 px-lg-15' aria-label='Search' href='javascript:void(0);' data-target='body' data-ready='ems-search-ready' data-animate='ems-search-animate' data-type='add')
                +icon('search').fs-20
        a(class="ems-user px-10  px-lg-15 d-none d-lg-block" aria-label="User" href="javascript:void(0);")
            +icon('user').fs-20   
        a(class="ems-cart-trigger ps-10 ps-lg-15 mini-cart-icon" aria-label="Cart" href="javascript:void(0);" data-target="body" data-ready="ems-cart-ready" data-animate="ems-cart-animate" data-type="toggle")
            +icon('bag').fs-20
    .header-info.d-none.d-lg-flex.justify-content-end
        ul.list-unstyled.d-lg-flex.align-items-center.px-20.px-lg-0
            li.fs-18.fs-lg-16.text-gold.premium-info
                a(href="/product-list.html") Premium Koleksiyon
            li.fs-18.fs-lg-16.ms-20
                a(href="/product-list.html") Blog
        .custom-dropdown.dropdown.ms-20
            .custom-dropdown-toggle
                span Tr - TRY
            ul.custom-dropdown-menu.dropdown-menu.end-0
                li  
                    span Tr - TRY
                li  
                    span En - EUR
            


.container.d-none
    .header-wrapper.d-flex.justify-content-lg-between.align-items-center
        a(class="ems-menu-trigger d-lg-none mx-lg-5 me-15" aria-label="Menu" href="javascript:void(0);")
            +icon('burger').fs-20

        // Menu
        .ems-menu-overlay.ems-overlay(data-target="body" data-ready="ems-menu-ready" data-animate="ems-menu-animate" data-type="remove")
        .ems-menu.col.ems-modal.d-lg-block.ems-scrollbar-mobile.ems-scrollbar-vertical.ems-modal-start
            .ems-modal-header.d-lg-none.p-20
                .ems-modal-close.d-flex.align-items-center.justify-content-between.pt-5.pb-20
                    span Menu
                    a(class="me-5 me-15" href="" aria-label="Close"  data-target="body" data-ready="ems-menu-ready" data-animate="ems-menu-animate" data-type="remove")
                        +icon('close').fs-16
            .ems-modal-body
                .ems-modal-info.p-20.d-lg-none 
                    h2 Hoş Geldiniz
                    p.fs14 Satın aldıklarınızı, koleksiyonlarınızı vb. görmek için hesabınıza giriş yapın.
                    a.btn.btn-primary.w-100.border-radius-0(href="#") Giriş Yap / Üye Ol
                ul.lvl-1.list-unstyled.d-lg-flex.px-20.px-lg-0
                    li.px-lg-10.sub-items.lvl-1-item.fs-18.fs-lg-16
                        a.lvl-1-item-link(href="/product-list.html") Yeni
                        //- .lvl-2
                        //-     .menu-prd-wrapper.bg-white.py-20.py-lg-50.px-lg-0
                        //-         ul.menu-prd-cat.list-unstyled.rox-cols-1
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span 
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Erkek
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Kadın
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Çocuk
                        //-         ul.menu-prd-type.list-unstyled.mt-50.mt-lg-0.mb-lg-60
                        //-             li.lvl-2-item.selected 
                        //-                 a.lvl-2-item-link.position-relative.d-lg-none.d-flex.justify-conten-between.py-20(href="") 
                        //-                     span Tarz
                        //-                 ul.lvl-3.list-unstyled.d-lg-flex.justify-content-lg-center 
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('classic-watch').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Klasik Saat
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('sport-watch').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10 Spor Saat
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('digital-watch').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Dijital Saat
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('stylish-watch').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Şık Saat 
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('smart-watch').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Akıllı Saat
                        //-         .menu-prd-featured.d-lg-flex.justify-content-lg-around
                        //-             ul.list-unstyled
                        //-                 li.lvl-2-item
                        //-                     a.lvl-2-item-link.position-relative.py-20.py-lg-0.d-flex(href="javascript:void(0);") 
                        //-                         span Mekanizma
                        //-                     ul.lvl-3.list-unstyled.text-gray.mt-lg-30.text-gray
                        //-                         li.pb-20.pb-lg-0.mb-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Quartz
                        //-                         li.pb-20.pb-lg-0.mb-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Mekanik
                        //-                         li.pb-20.pb-lg-0.mb-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Otomatik
                        //-                         li.pb-20.pb-lg-0.mb-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Solar
                        //-                         li.pb-20.pb-lg-0.mb-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 GPS
                        //-                         li.pb-20.pb-lg-0.mb-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Radio Control
                        //-             ul.list-unstyled
                        //-                 li.lvl-2-item
                        //-                     a.lvl-2-item-link.position-relative.py-20.py-lg-0.d-flex(href="#") Materyal
                        //-                     ul.lvl-3.list-unstyled.text-gray.mt-lg-30.text-gray
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Süper Metal
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Çelik
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Titanyum
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Deri
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Siilikon
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Seramik
                        //-             ul.list-unstyled
                        //-                 li.lvl-2-item
                        //-                     a.lvl-2-item-link.position-relative.py-20.py-lg-0.d-flex(href="#") Stil
                        //-                     ul.lvl-3.list-unstyled.text-gray.mt-lg-30.text-gray
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Dress
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Diver
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Cronograph
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Pilot
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Skeleton
                        //-                         li.pb-20.pb-lg-0.mb-lg-10 
                        //-                             a(href="") 
                        //-                                 span.fs-14 Moon Phase
                    li.px-lg-10.lvl-1-item.fs-18.fs-lg-16 
                        a.lvl-1-item-link(href="/product-list.html") Erkek
                        //- .lvl-2.type-2
                        //-     .menu-prd-wrapper.bg-white.py-20.py-lg-50.px-lg-0
                        //-         ul.menu-prd-cat.list-unstyled.row-cols-1.row-cols-lg-3
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Yeni Gelenler
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Çok Satanlar
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Erkek Gözlük
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Kadın Gözlük
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Unisex Gözlük
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Çocuk Gözlük
                        //-         ul.menu-prd-type.list-unstyled.mt-50.mt-lg-0.mb-lg-60
                        //-             li.lvl-2-item.selected 
                        //-                 a.lvl-2-item-link.position-relative.d-lg-none.d-flex.justify-conten-between.py-20(href="") 
                        //-                     span Tarz
                        //-                 ul.lvl-3.list-unstyled.d-lg-flex.justify-content-lg-center 
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('angular-glasses').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Köşeli Gözlük
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('drop-glasses').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10 Damla Gözlük
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('round-glasses').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Yuvarlak Gözlük
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('geometric-glasses').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Geometrik Gözlük 
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('slanting-glasses').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Çekik Gözlük
                    li.px-lg-10.lvl-1-item.fs-18.fs-lg-16 
                        a.lvl-1-item-link(href="/product-list.html") Kadın
                        //- .lvl-2.type-2
                        //-     .menu-prd-wrapper.bg-white.py-20.py-lg-50.px-lg-0
                        //-         ul.menu-prd-cat.list-unstyled.row-cols-1
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Yeni Gelenler
                        //-             li.col
                        //-                 a.position-relative.d-lg-flex.align-items-lg-center(href="#") 
                        //-                     span Çok Satanlar
                        //-         ul.menu-prd-type.list-unstyled.mt-50.mt-lg-0.mb-lg-60
                        //-             li.lvl-2-item.selected 
                        //-                 a.lvl-2-item-link.position-relative.d-lg-none.d-flex.justify-conten-between.py-20(href="") 
                        //-                     span Tarz
                        //-                 ul.lvl-3.list-unstyled.d-lg-flex.justify-content-lg-center 
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('ring').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Yüzük
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('necklace').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10 Bileklik
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('earring').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Küpe
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('bracelet').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Kolye
                        //-                     li.px-lg-20.pb-20.pb-lg-0
                        //-                         a.d-flex.flex-lg-column.justify-content-lg-center.align-items-center(href="!#")
                        //-                             +icon('strap').fs-32.fs-lg-56
                        //-                             span.fs-14.fs-lg-12.ms-15.ms-lg-0.mt-lg-10  Kayış
                    li.px-lg-10.lvl-1-item.fs-18.fs-lg-16 
                        a.lvl-1-item-link(href="brand-list.html") Çocuk
                    li.px-lg-10.lvl-1-item.fs-18.fs-lg-16 
                        a.lvl-1-item-link(href="#") Spor Branşları
                    li.px-lg-10.lvl-1-item.fs-18.fs-lg-16 
                        a.lvl-1-item-link(href="#") Markalar
                    li.px-lg-10.lvl-1-item.fs-18.fs-lg-16 
                        a.lvl-1-item-link(href="#") Takım Sporları
                    li.px-lg-10.lvl-1-item.fs-18.fs-lg-16 
                        a.lvl-1-item-link(href="#") Fırsat Köşesi
               
                .menu-social.bg-light.mt-40.p-20.d-lg-none 
                    span.fs-16 Bizi Takip Edin!
                    ul.list-unstyled.d-flex.mt-30.mt-lg-20 
                        li.me-30 
                            a(href="https://www.facebook.com/", target="blank")
                                +icon("facebook").fs-28.bg-white.rounded-circle
                                span.ms-10.d-none.d-lg-inline-block Facebook 
                        li.me-30
                            a(href="https://twitter.com/", target="blank") 
                                +icon("twitter").fs-28.bg-white.rounded-circle
                                span.ms-10.d-none.d-lg-inline-block Twitter 
                        li.me-30
                            a(href="https://www.instagram.com/", target="blank") 
                                +icon("instagram").fs-28.bg-white.rounded-circle
                                span.ms-10.d-none.d-lg-inline-block Instagram 
                        li
                            a(href="https://www.youtube.com/", target="blank") 
                                +icon("youtube").fs-28.bg-white.rounded-circle
                                span.ms-10.d-none.d-lg-inline-block Youtube
        .header-logo-wrapper
            .header-logo.col-3
                a(href="/")
                    +img('ratio ratio-logo ratio-bg-remove', false, dirImages + 'korayspor.svg')
        .header-right.d-flex.justify-content-end.col
            a(class='ems-search-trigger px-10' aria-label='Search' href='javascript:void(0);' data-target='body' data-ready='ems-search-ready' data-animate='ems-search-animate' data-type='add')
                +icon('search').fs-20
            a(class="ems-user px-10 d-sm-none" aria-label="User" href="javascript:void(0);")
                +icon('user').fs-20   
            a(class="ems-cart-trigger px-10 mini-cart-icon" aria-label="Cart" href="javascript:void(0);" data-target="body" data-ready="ems-cart-ready" data-animate="ems-cart-animate" data-type="toggle")
                +icon('bag').fs-20
        // Search
        .ems-search-overlay.ems-overlay(data-target="body" data-ready="ems-search-ready" data-animate="ems-search-animate" data-type="remove")
        .ems-search.ems-modal.ems-modal-lg.p-lg-50.p-20.ems-scrollbar.ems-scrollbar-vertical
            .ems-field.input-search
                a(aria-label='Search' href='javascript:void(0);' data-target='body' data-ready='ems-search-ready' data-animate='ems-search-animate' data-type='remove')
                    +icon('arrow-2').stroke-icon.fs-16.d-lg-none
                input.ms-20.ms-lg-15.border-0.form-control(type="text", name="search" placeholder="Konyalı Saat’te ara")
                +icon('search').fs-20 
            .ems-body.mt-40
                .last-search
                    h3.fs-20.fw-lg-400 Son Aramalarınız
                    .last-search-list.ems-scrollbar-vertical.ems-scrollbar-hide
                        ul.d-flex.list-unstyled.fs-14.mt-20
                            li.me-15
                                a(href="#")
                                    span Rado
                                    +icon("close-2").fs-20
                            li.me-15
                                a(href="#")
                                    span Swatch
                                    +icon("close-2").fs-20
                            li.me-15
                                a(href="#")
                                    span Serdar Kuzuloğlu
                                    +icon("close-2").fs-20
                            li.me-15
                                a(href="#")
                                    span Erkek Saatleri
                                    +icon("close-2").fs-20
                .top-search.mt-40
                    h3.fs-20.fw-lg-400 Popüler Aramalar
                    .top-search-list.ems-scrollbar-vertical.ems-scrollbar-hide
                        ul.d-flex.list-unstyled.fs-14.mt-20.dotted-items.dotted-black
                            li
                                a(href="#").text-decoration-underline
                                    span Rado
                            li
                                a(href="#").text-decoration-underline
                                    span Swatch
                            li
                                a(href="#").text-decoration-underline
                                    span Serdar Kuzuloğlu
                            li
                                a(href="#").text-decoration-underline
                                    span Erkek Saatleri            
            .ems-search-results
                .my-30
                    h3.fs-20.fw-400 “Chronograph” için sonuçlar
                    p.fs-14.text-gray.mt-10 24 sonuç listeleniyor
                .search-product
                    a(href="#!").d-flex.align-items-center.mb-20
                        h2.section.title.fw-400.fs-20 Ürünler (24)
                        .section-link.ms-lg-20
                            span.fs-14 Tümünü Gör
                            +icon('arrow').stroke-icon.ms-10
                    +swiper('widgetAuto', false, true, false)(class="swiper-container-widget desktop-no-swipe widget-lg-7 widget-1_5 h-auto")
                        -for(var j=0; j<7; j++)
                            li.swiper-slide.me-5.me-lg-0
                                +product-search()
                .search-blog.mt-40.pt-40
                    a(href="#!").d-lg-flex.align-items-lg-center
                        h2.section.title.fw-400.fs-20 İlham (8)
                        .section-link.ms-lg-20
                            span.fs-14 Tümünü Gör
                            +icon('arrow').stroke-icon.ms-10
                    .mt-20.mt-lg-30.position-relative.g-2
                        +swiper('widgetAuto', false, true, false)(class="swiper-container-widget desktop-no-swipe widget-lg-7 widget-1_5 h-auto")
                            - for (var y = 0; y < 7; y++)
                                li.swiper-slide.blog-post.pb-20.pb-lg-60.me-5
                                    .blog-post-body.position-relative
                                        +picture("ratio ratio-1x1", true, dirUploads + "blog/blog-mobile.jpg", dirUploads + "blog/blog-mobile.jpg", dirUploads + "blog/blog-mobile.jpg").img-fluid
                                        .blog-post-desc.mt-10
                                            a.blog-category.text-blue.fs-12.stretched-link-over(href="javascript:void(0);") Bakım 
                                            h3.blog-post-title.fw-400.lh-1-25.position-relative Saatinizdeki Buğu ve Nemden Kurtulmanın Yolları
                                            .blog-post-subtitle.text-gray.mt-10
                                                p.lh-1-25.m-0 Geniş ürün yelpazesiyle, en eşsiz gözlük ve aksesuarlar şimdi Konyalı Saat’te.
                                            .d-flex.mt-10.mt-lg-20.fs-12.text-gray.dotted-items 
                                                span 11 Kasım 2021
                                                span 6 dk
                                            a.stretched-link(href="/blog-detail.html")