nav.corporate-sidebar.col-12
    ul.ems-section-wrapper.list-unstyled.d-flex.corporate-sidebar.ems-scrollbar-mobile
        li.w-auto.me-10.my-5.position-relative
            a(href="/corporate-about.html") A 
        li.w-auto.me-10.my-5.position-relative
            span •
        li.w-auto.me-10.my-5.position-relative
            a(href="/corporate-stores.html") B
        li.w-auto.me-10.my-5.position-relative
            span  •
        li.w-auto.me-10.my-5.position-relative
            a(href="/corporate.html") C
        li.w-auto.me-10.my-5.position-relative
            span •
        li.w-auto.me-10.my-5.position-relative
            a(href="/transfer.html")  D 
        li.w-auto.me-10.my-5.position-relative
            span  •
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  E
        li.w-auto.me-10.my-5.position-relative
            span  • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  F
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  G
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  H
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  I
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  İ
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  J
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  K
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  L
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  M
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  N
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  O
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  Ö
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  P
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  Q
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  R
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  S
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  Ş
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  T
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  U
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  Ü
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  V
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  W
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  X
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  Y
        li.w-auto.me-10.my-5.position-relative
            span • 
        li.w-auto.me-10.my-5.position-relative
            a(href="/contact.html")  Z
      


