+swiper('WidgetProgressbar', false, true, true)(class="swiper-container-widget widget-lg-3_5 widget-1_25")
    li.swiper-slide.me-5.d-none.d-lg-block
        h2.section.title.fw-600.fs-54 Sahada <br> Tarzını Göster
    -for(var i=0; i<8; i++)
        li.swiper-slide.me-5
            .rectangle-banner.position-relative
                +picture('ratio ratio-category-slider', dirUploads + 'category/football.jpg', dirUploads + 'category/football-2x.jpg', dirUploads + 'category/football-2x.jpg')(class="card-img", alt="slide 1")
                .rectangle-banner-overlay
                    a.btn.btn-white(href="javascript:void(0)")
                        span Futbol Ayakkabı
