nav.wizard-sidebar.py-50.w-75.m-auto
    ul.ems-section-wrapper.list-unstyled.d-flex.corporate-sidebar.ems-scrollbar-mobile
        li.w-auto.me-15.my-5.position-relative.active
            a(href="/corporate-about.html") Yaş Grubu
        li.w-auto.me-15.my-5.position-relative
            a(href="/corporate-stores.html") Zemin
        li.w-auto.me-15.my-5.position-relative
            a(href="/sss.html") Mevki
        li.w-auto.me-15.my-5.position-relative.selected
            a(href="/corporate.html") Seviye
        li.w-auto.me-15.my-5.position-relative
            a(href="/corporate-text.html") Marka
        li.w-auto.me-15.my-5.position-relative
            a(href="/destek/yetkili-servisler") Sonuç