// Banner Overlay
.banner-overlay {
    padding: 16px;
    left: 24px;
    right: 24px;
    bottom: 24px;
    &-white {
        background: #fff ;
        max-width: 360px ;
        &::after {
            background-image: none;
        }
    }
}

.special-title-section {
    .special-title {
        margin: 80px 0 !important;
    }
}

progress[value] {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 280px;
    height: 4px;
    color: red; 
    &::-webkit-progress-bar {
        background-color: #CAC6C6;
        border-radius: 2px;
        box-shadow: #DF4826 rgb(223, 72, 38) inset; 
    }
}
.order-truck {
    padding: 10px;
}

.order-menu  {
    width: 100%;
}

.order-track-form-container {
    background-color: transparent !important;
}
