.banner-overlay {
    max-width: 480px;
    &.end {
        text-align: right;
        left: auto;
        right: 38px;
    }
    &.center {
        left: 50%;
        transform: translateX(-50%);
    }
}

.special-title {
    width: 80%;
    margin: 140px 0 !important;
    &-wrapper {
        width: 50%;
    }
}
.home-info {
    max-width: 220px;
    margin: 0 auto !important;

}


 .ems-seo-text {
    max-height: 210px;
 }