//- DIRS
- var dirBase = ''
- var dirFrontend = dirBase      + 'frontend/'
- var dirFonts    = dirFrontend  + 'fonts/'
- var dirImages   = dirFrontend  + 'images/'
- var dirUploads  = dirBase      + 'uploads/'
- var dirIcons    = dirFrontend      + 'icons'

//-PROJECT CFG
- var brand = "emos-v2-localhost"
- var lang = "tr-TR"
- var dir = "ltr"
- var currency = "₺"
- var currencyText = "TL"

//-PAGE CFG
- var pageTitle = "Default Title"
- var pageDescription = "Default Description"
- var pageName = ""
- var pageClass = ""