extends layouts/default.pug

block prepend head
    - var pageTitle = "Koray Spor 404"
    - var pageDescription = "Koray Spor 404"
    - var pageName = "pageNotfound"
    - var pageClass = "pageNotfound"

block content
    .container.px-0
        .notfound.h-100.position-relative
            +picture('ratio ratio-1x1 ratio-lg-main-slider', true, dirImages + '404/4044.jpg', dirImages + '404/mobile4044.jpg', dirImages + '404/4044.jpg')(class="w-100", alt="slide 1")
            .img-wrap.fs-32.lh-1
                .notfound-desc.d-flex.flex-column
                    h2.lh-1.fs-70.text-white 404
                    h3.lh-1.fs-24.fw-400.text-white.mt-10 Aradığınız sayfa bulunamadı.
                    p.fs-18.text-white.mt-15.lh-1-25 Eğer bunun teknik bir sorun olduğunu düşünüyorsanız, sayfayı Müşteri Hizmetleri'ne bildirin.
                    a.btn.btn-white.mt-40(href="#") Anasayfaya Dön
                    