extends layouts/default.pug

block prepend head
    - var pageTitle = "Koray Spor 404"
    - var pageDescription = "Koray Spor 404"
    - var pageName = "pageNotfound"
    - var pageClass = "pageNotfound"

block content
    .container.px-0
        .notfound.h-100.position-relative
            +picture('ratio ratio-1x1 ratio-lg-main-slider', true, dirImages + '404/red.jpg', dirImages + '404/404red.jpg', dirImages + '404/red.jpg')(class="w-100", alt="slide 1")
            .img-wrap.fs-32.lh-1
                .notfound-desc.d-flex.flex-column
                    +icon("checked-bigg").fs-70
                    p.fs-18.text-white.mt-15.lh-1-25 Beklenmedik bir hata oluştu. Lütfen tekrar deneyiniz.
           
                    