extends layouts/default.pug

block prepend head
    - var pageTitle = "Banner Guide"
    - var pageDescription = "Banner Description"
    - var pageName = "Banner"
    - var pageClass = ""

block content
    .container.guideline
        section.guideline.mb-50