extends layouts/default.pug

block prepend head
    - var pageTitle = "Banner Guide"
    - var pageDescription = "Banner Description"
    - var pageName = "Banner"
    - var pageClass = ""

block content
    .container
        .row
            .col-6 
                +product()
        h2.my-40 Square Banners
    .square-section.container.px-0.px-lg-30.mt-60
        .row.row-cols-lg-2.row-cols-1.g-5
            .col
                +square-banner()
            .col 
                +square-banner()

        +swiper('mainSlider', false, true, false, true, true)(class="main-slider")
                -for(var i=0; i<5; i++)
                    li.swiper-slide
                        .ratio.ratio-main-slider-mobile.ratio-md-main-slider.ratio-lg-main-slider
                            picture
                                source.lazy-picture(media='(max-width:0)' srcset='frontend/images/1x1.svg')
                                source(media='(max-width: 767px)' srcset='uploads/slider/slider-mobile.jpg, uploads/slider/football-banner-mobile.jpg 2x')
                                source(media='(min-width: 768px)' srcset='uploads/slider/football-banner.jpg')
                                img.w-100(src='uploads/slider/football-banner-mobile.jpg' alt='slide 1')
                        .banner-overlay
                            .banner-title
                                h3.fs-20.fs-lg-30 Size Uygun Ayakkabıyı Bulun
                                p.fs-14.fs-lg-16.mt-10 Koleksiyonu keşfet
                            .swiper-progress-bar.position-absolute.start-0.bottom-0.w-100
                                span.swiper-progress.d-block
                    li.swiper-slide
                        .ratio.ratio-main-slider-mobile.ratio-md-main-slider.ratio-lg-main-slider
                            video(data-video="https://player.vimeo.com/progressive_redirect/playback/769802231/rendition/720p/file.mp4?loc=external&signature=9a408598285bb20e9bdbf3057c9e2242fea655179e4d8237640fd020bed51b0a" data-videomobile="https://player.vimeo.com/progressive_redirect/playback/769802231/rendition/720p/file.mp4?loc=external&signature=9a408598285bb20e9bdbf3057c9e2242fea655179e4d8237640fd020bed51b0a" data-poster="banner/video-banner.jpg" data-postermobile="banner/video-banner.jpg" poster="banner/video-banner.jpg" preload="none" autobuffer="autobuffer" playsinline="true" muted="true" src="https://player.vimeo.com/progressive_redirect/playback/769802231/rendition/720p/file.mp4?loc=external&signature=9a408598285bb20e9bdbf3057c9e2242fea655179e4d8237640fd020bed51b0a" )
                    

        section.guideline.mb-50
            h2.guideline__h2.guideline__h2.border-bottom.mb-10.pb-10.border-green Campaign Banners
            .camping-banner
                .ems-card-picture
                    +picture('ratio ratio-740x768 ', dirUploads + 'banner/banner2x.png', dirUploads + 'banner/banner.png', dirUploads + 'banner/mbanner.png')(class="w-100 img-fluid", alt="slide 1")
                .ems-banner-title
                    .banner-left
                        h1 Y2K’dan İlham Aldı
                        p Koleksiyonu keşfet
                    .banner-right
                        +icon("caret-right").fs-8
             
          
