extends layouts/default.pug

block prepend head
    - var pageTitle = "Banner Guide"
    - var pageDescription = "Banner Description"
    - var pageName = "Banner"
    - var pageClass = ""

block content
    .container
        .row
            .col-6 
                +product()
        h2.my-40 Square Banners
    .container.px-0.px-lg-50
        .row.g-0.g-lg-5
            .col-12.col-lg-6
                +square-banner()
            .col-12.col-lg-6
                +square-banner()
            .col-12.col-lg-6
                +square-banner()

        section.guideline.mb-50
            h2.guideline__h2.guideline__h2.border-bottom.mb-10.pb-10.border-green Hero Banners
            .camping-banner
                .ems-card-picture
                    +picture('ratio ratio-740x768', dirUploads + 'banner/banner2x.png', dirUploads + 'banner/banner.png', dirUploads + 'banner/mbanner.png')(class="w-100 img-fluid", alt="slide 1")
                .ems-banner-title
                    .banner-left
                        h1 Y2K’dan İlham Aldı
                        p Koleksiyonu keşfet
                    .banner-right
                        +icon("caret-right").fs-8
                .ems-navigation-arrow
                    

        section.guideline.mb-50
            h2.guideline__h2.guideline__h2.border-bottom.mb-10.pb-10.border-green Campaign Banners
            .camping-banner
                .ems-card-picture
                    +picture('ratio ratio-740x768 ', dirUploads + 'banner/banner2x.png', dirUploads + 'banner/banner.png', dirUploads + 'banner/mbanner.png')(class="w-100 img-fluid", alt="slide 1")
                .ems-banner-title
                    .banner-left
                        h1 Y2K’dan İlham Aldı
                        p Koleksiyonu keşfet
                    .banner-right
                        +icon("caret-right").fs-8
             
        section.guideline.mb-50
            h2.guideline__h2.guideline__h2.border-bottom.mb-10.pb-10.border-green Category Banners
            .category-banner
                .ems-card-picture
                    +picture('ratio ratio-680x520 ', dirUploads + 'banner/category.png', dirUploads + 'banner/category.png', dirUploads + 'banner/category.png')(class="w-100 img-fluid", alt="slide 1")
                .ems-banner-button
                   span Erkek Alışveriş             
