extends layouts/default.pug

block prepend head
    - var pageTitle = "Koray Spor"
    - var pageDescription = "Koray Spor"
    - var pageName = "blog-detail"
    - var pageClass = ""

block content
    .container.px-0.px-lg-10
        .d-flex.justify-content-center.my-50
            +img('ratio-logo ratio-bg-remove', false, dirImages + 'logoblog.svg')
        .prm-media.ratio.ratio-main-slider-mobile.ratio-md-main-slider.ratio-lg-main-slider 
            picture
                source.lazy-picture(media='(max-width:0)' srcset='frontend/images/1x1.svg')
                source(media='(max-width: 767px)' srcset='uploads/banner/msporcu.jpg, uploads/banner/msporcu.jpg 2x')
                source(media='(min-width: 768px)' srcset='uploads/banner/sporcu.jpg')
                img.w-100(src='uploads/banner/msporcu.jpg' alt='slide 1')
    .blog-container.container.px-lg-60.mt-20.mt-lg-70.d-lg-flex
        .blog-content
            .d-lg-flex.justify-content-between.align-items-center
                h1.fw-700.fs-24.fs-lg-24 Kalp Krizini Önleyen Sağlıklı Besinler
                div.d-flex.align-items-center.mt-15.mt-lg-0
                    .py-10.px-10.bg-white.me-10.fs-13.fw-600 Beslenme
                    span.fs-lg-13.fw-600.fs-12 1 Nisan 2021 - 7 dk okuma
            .blog-content-detail.mt-20.mt-lg-30.fs-14.fs-lg-20
                p Kalp ve damar üzerinde büyük etkileri bulunan beslenme, bu duruma uygun bir şekilde koordine edilirse daha sağlıklı yaşamak mümkün mü?
                p Beslenme şeklinde ve tükettiğiniz besinlerde yapacağınız değişiklikler ile olası bir kalp krizine karşı önlem alınabilir. Yapılan çalışmalar sonucunda kalp ve damar sağlığı üzerinde olumlu etkilere sahip olduğu açıklanan bazı besinleri tüketebileceğiniz yeni bir beslenme planı oluşturabilirsiniz.
                p Kalp dostu olarak bilinen bu besinleri düzenli ve tavsiye edilen oranlarda tüketerek, sağlıklı yaşama adım atabilirsiniz. Kalp sağlığının yanı sıra kaliteli bir beslenme düzeni; tüm vücut sağlığınız için yararlı olacak, kendinizi daha zinde ve enerjik hissedebileceksiniz.
                p Kalp Dostu Besin Önerileri;
                p Balık: Düzenli olarak balık tüketmeye başladığınızda, damarlarınıza esneklik kazandırmış olacaksanız. Haftada 2 kez balık tüketmeyi alışkanlık haline getirmeniz, kanın pıhtılaşmasını önleyecek ve kan hücrelerinin birbirine yapışmasına engel olacaktır.
                p Yeşil Sebze: Uzmanlar tarafından gün aşırı mutlaka tüketilmesi tavsiye edilen yeşil sebzeleri atlamayın. Yeşil yapraklı sebzelerde yüksek oranda Omega-3 bulunduğundan, kötü huylu kolesterolün azalmasına yardımcı olurken, trigliserid seviyesini de düşürmeye yardımcı oluyor.
                p Fındık ve Badem: Düzenli olarak ve aşırıya kaçmadan tüketilen fındık ve badem, iyi kolesterolün yükselmesine ve kötü kolesterolün düşmesine neden oluyor. Haftada 140 gramı aşmayacak şekilde, düzenli olarak fındık ve badem tüketen bireylerinde kalp ve damar hastalıklarına çok daha az rastlandığı gözlemlenmiştir.
                p Yumurta: Sağlıklı beslenmenin gözde besinlerinden olan yumurtayı, haftada 2 adedi geçmeyecek şekilde beslenme planınıza eklemeniz gerekiyor. Bunun sebebi ise yumurtyanın kolesterol değerlerini yükseltmesi olarak belirtiliyor.
                p Domates: Zengin bir antioksidan kaynağı olduğu bilinen domates, kalbin büyümesini ve dış kısmının yağlanmasını engelliyor. Düzenli olarak her gün, 1 adet olarak tüketilmesi önerilen domates, içerisinde bulundurduğu likopen maddesi ile biliniyor. Ayrıca domates, kolesterolün dengelenmesine de yardımcı olduğundan, mutlaka tüketilmesi gerekiyor.
                p Üzüm Çekirdeği: İyi kolesterolün yükselmesine, kötü kolesterolün ise düşmesini sağlayan üzüm çekirdeği, antioksidan bakımından da yüksek değerler taşıyor. Vücut ağırlığınız ile orantılı olarak, günde 150-300 mg. arasında tüketilmesi öneriliyor. Üzüm çekirdeğinin düzenli tüketilmesi, kalp krizi risklerini en aza indirdiği kanıtlanmış durumdadır.
                p Keten Tohumu: Kalp sağlığınızı güçlendirmek için keten tohumuna da beslenmenizde yer vermeniz gerekiyor. Omega-3 içeriği bulunan keten tohumu, koroner kalp rahatsızlıklarını da engelleyebiliyor.
                p Soğan ve Sarımsak: Her derde deva olarak bilinen soğan ve sarımsak ikilisi, “kuvarsetin” ve “alicin” adı verilen bileşenleri içermesi nedeniyle, damarların tıkanmasını önlüyor. Oksitlenerek damar çepherine zarar veren kolesterolü de yok ettiğinden, özellikle kalp ve damar sorunu yaşayan bireylerin tüketmesi gerektiği belirtiliyor.
                +picture("ratio ratio-1x1 ratio-lg-700x400", false, "frontend/images/blog/blog-mobile.jpg", "frontend/images/blog/blog-mobile.jpg", "https://via.placeholder.com/700x395/blue").w-100
                p Kalp Krizine Engel Olacak Diğer Tavsiyeler;
                p Efor Testi Yaptırın… Özellikle 40 yaş ve sonrası bireylerin, her yıl düzenli olarak efor testi yaptırmalarında yarar vardır. Ancak genetik aile yapısında kalp rahatsızlıkları olanlara, daha erken yaşta efor testi önerilmektedir.
                p Yağ Tüketimini Azaltın… Yapılan çalışmalar gösteriyor ki; beslenmede azaltılan yağ tüketimi sonrasında, kalp krizine bağlı ölümlerde büyük oranda azalma görünmektedir. Tekli doymamış yağ tüketimi %10-15, doymuş yağ oranı ise %7-10 olarak sınırlandırılmalıdır. 
                p Düzenli Tansiyon Ölçtürün… Özellikle 20 yaş ve sonrasında, herhangi bir sağlık sorunu yaşamıyor olsanız dahi 3 yılda bir kez tansiyonunuzu ölçtürmeniz gerekiyor. Kan basıncının ise 120/80 mmHg’den daha düşük olmasına dikkat etmelisiniz. 
                p Kolesterol Tahlili Yaptırın… Dünya genelinde elde edilen verilere göre kalp krizi sebeplerinin başında, yüksek kolesterol ve sigara kullanımı geldiği saptanmıştır. Bu nedenle her yıl, bir kez mutlaka kolesterol tahlili yapmanız tavsiye edilmektedir. 
                p Tuza Dikkat Edin… Gün içerisinde tükettiğiniz tuz miktarının, maksimum 6 gramı aşmayacak şekilde olmasına özen göstermelisiniz. Yapılan çalışmalar, tuz tüketiminin sınırlandırılması sonrasında kalp ve damar hastalıklarının oluşma oranı %25 daha azalmaktadır.
        .blog-sidebar.widget-type-2.my-50.my-lg-0.overflow-hidden
            .fw-700.fs-20.fs-lg-24.mb-25 Güncel Yazılar
            +swiper('WidgetProgressbar', false, true, true)(class="blog-slider swiper-container-widget widget-1_25 widget-lg-1 desktop-no-swipe mobi-swiper")
                -for(var i=0; i<8; i++)
                    li.swiper-slide.me-5.w-lg-100.h-auto.blog-post
                        .bg-white.d-lg-flex.position-relative
                            +picture("ratio ratio-1x1", false, dirUploads + "banner/balik.jpg", dirUploads + "banner/balik.jpg", dirUploads + "banner/balik.jpg").w-100
                            .mt-10.mt-lg-0.py-25.px-25
                                h3.blog-title.fw-700.fs-lg-24.fs-20.lh-sm Kalp Krizini Önleyen Sağlıklı Besinler
                                p.blog-subtitle.lh-sm.mb-0.fs-14.fs-lg-16.mt-10 Geniş ürün yelpazesiyle, en eşsiz gözlük ve aksesuarlar şimdi KoraySpor Saat’te.
                                .d-flex.align-items-center.mt-15 
                                    .blog-cat.py-10.px-10.bg-gray4.me-10.fs-13.fw-600 Beslenme
                                    span.fs-lg-13.fw-600.fs-12 1 Nisan 2021 - 7 dk okuma
                                .mt-25.d-lg-none
                                    span.fs-13.fw-600.me-10  Daha Fazla
                                    +icon("caret-right").fs-12
                            a(href="/blog-detail.html" aria-label="").stretched-link