extends layouts/default.pug

block prepend head
    - var pageTitle = "KoraySpor "
    - var pageDescription = "KoraySpor "
    - var pageName = "blog"
    - var pageClass = ""

block content
    .d-flex.justify-content-center.my-50
        +img('ratio-logo ratio-bg-remove', false, dirImages + 'logoblog.svg')
    
    .main-slider-section.overflow-hidden.container.px-0.px-lg-10
        +swiper('mainSlider', false, true, false, true, true)(class="main-slider")
            -for(var i=0; i<5; i++)
                li.swiper-slide
                    .ratio.ratio-main-slider-mobile.ratio-md-main-slider.ratio-lg-main-slider
                        picture
                            source.lazy-picture(media='(max-width:0)' srcset='frontend/images/1x1.svg')
                            source(media='(max-width: 767px)' srcset='uploads/banner/mhakem.jpg, uploads/banner/mhakem.jpg 2x')
                            source(media='(min-width: 768px)' srcset='uploads/banner/hakem.jpg')
                            img.w-100(src='uploads/banner/hakem.jpg' alt='slide 1')
                    .banner-overlay
                        .banner-title
                            h3.fs-20.fs-lg-30 Y2K’dan İlham Aldı
                            p.fs-14.fs-lg-16.mt-10 Koleksiyonu keşfet
                        .swiper-progress-bar.position-absolute.start-0.bottom-0.w-100
                            span.swiper-progress.d-block
    .container.px-lg-60
        include includes/blog-menu
        .row.row-cols-1.row-cols-lg-4.mt-20.mt-lg-40.position-relative.g-15.g-lg-30
            - for (var y = 0; y < 9; y++)
                .blog-post.col
                    .bg-white.position-relative
                        +picture("ratio ratio-1x1", false, dirUploads + "banner/balik.jpg", dirUploads + "banner/balik.jpg", dirUploads + "banner/balik.jpg").w-100
                        .mt-10.mt-lg-15.py-25.px-25
                            h3.blog-title.fw-700.fs-lg-24.fs-20.lh-sm Kalp Krizini Önleyen Sağlıklı Besinler
                            p.blog-subtitle.lh-sm.mb-0.fs-14.fs-lg-16.mt-10 Geniş ürün yelpazesiyle, en eşsiz gözlük ve aksesuarlar şimdi KoraySpor Saat’te.
                            .d-flex.align-items-center.mt-15 
                                .blog-cat.py-10.px-10.bg-gray4.me-10.fs-13.fw-600 Beslenme
                                span.fs-lg-13.fw-600.fs-12 1 Nisan 2021 - 7 dk okuma
                            .mt-25
                                span.fs-13.fw-600.me-10  Daha Fazla
                                +icon("caret-right").fs-12
                        a(href="/blog-detail.html" aria-label="").stretched-link
                        
        .text-center.mb-40
            p.d-block.fs-13.fw-600 28 / 841
            <progress  value="32" max="100"> </progress>  
        .text-center
            a.btn.btn-dark.btn-lg.btn-icon-righ.text-centert(href="javascript:void(0)") 
                span.me-10 Daha fazla yükle 
                +icon("wicon-plus").fs-12