extends layouts/default.pug

block prepend head
    - var pageTitle = "Koray Spor"
    - var pageDescription = "Koray Spor"
    - var pageName = "about"
    - var pageClass = "about"

block content
    .breadcrumb-container.container.px-lg-50
        +breadcrumb(['Anasayfa', '/list'], ['Kurumsal', '/list'], ['Hakkımızda'])
    +picture('ratio ratio-lg-corporate-cover ratio-corporate-cover-mobile', true, dirUploads + 'corporate/about-cover.jpg', dirUploads + 'corporate/about-cover-mobile.jpg', dirUploads + 'corporate/about-cover.jpg')(class="w-100", alt="slide 1")
    .corporate-sidebar-container.container.px-lg-50
        include includes/corporate-menu
    .about-korayspor
        .container.px-lg-100
            .row.my-60
                .col-12.col-lg-6
                    p.special-title.fs-32.fw-600.w-75 34 yılı aşkın <br> peraken
                        span decilik ve <br>sektör tecrübesi
                .col-12.col-lg-6
                    .w-lg-75.fs-20.fs-28.mt-15
                        p Başarısının arkasında sürekli kendisini yenileyen yönetim kadrosu, 34 yılı aşkın perakendecilik ve sektör tecrübesi, takım ruhuyla çalışan ekibi vardır. 1983 yılında Bursa’da kurulan KORAY SPOR LTD.ŞTİ bugün 19 şube, 12.500 m² satış alanı, 500'e yakın çalışanıyla ticari faaliyetlerine başarıyla devam etmektedir.
            .my-40.my-lg-60
                +picture('ratio ratio-corporate-large', true, dirUploads + 'corporate/corporate-big.jpg', dirUploads + 'corporate/corporate-big.jpg', dirUploads + 'corporate/corporate-big.jpg')(class="w-100", alt="slide 1")
            .about-content-wrapper.d-lg-grid
                    .corporate-title
                        h3.fs-14.fs-lg-24.fw-600.text-gray4 DÜNYA MARKALARI
                        p.special-title.fs-24.fs-lg-32.fw-600.mt-10.mt-lg-20 Dünyanın en seçkin markalarını, dünya standa
                            span rtlarında mağazacılık ve hizmet anlayışıyla sunuyoruz.
                    .corporate-img.py-30.py-lg-0
                        +picture('ratio ratio-corporate-small', true, dirUploads + 'corporate/about-small.jpg', dirUploads + 'corporate/about-small.jpg', dirUploads + 'corporate/about-small.jpg')(class="w-100", alt="slide 1")
                    .corporate-content.fs-20
                        p 2017 yılında mağazalarımız 9.2 milyon tüketici tarafından ziyaret edilmiştir. 2005 yılında www.korayspor.com Türkiye'nin ilk spor online alışveriş sitesiyle tüm dünyaya açılmıştır. 2016 yılının sonunda 11. yılını dolduran korayspor.com bünyesindeki dünya markalarını binlerce müşterisine güvenle ulaştırmıştır.
                        p Bursa, Balıkesir ve Eskişehir’de yer alan 19 Koray Spor mağazasında dünyanın en seçkin markaları, dünya standartlarında mağazacılık ve hizmet anlayışıyla sunulmaktadır.
                        p Korayspor.com da satışa sunulan tüm markalar ve ürünler %100 Orjinaldir, Korayspor bu markaların yetkili satıcısıdır.
            .ems-scrollbar.ems-scrollbar-horizontal.py-10.mt-60
                - for (var x = 0; x < 7; x++)
                    ul.dotted-items.list-unstyled.d-flex.fs-20.mt-20
                        - for (var i = 0; i < 3; i++)
                            li Adidas
                            li Nike
                            li Reebok
                            li Puma
                            li Converse
    .about-vip
        .my-40.my-lg-60
            +picture('ratio ratio-lg-corporate-cover ratio-corporate-cover-mobile', true, dirUploads + 'corporate/about-cover.jpg', dirUploads + 'corporate/about-cover-mobile.jpg', dirUploads + 'corporate/about-cover.jpg')(class="w-100", alt="slide 1")
        .container.px-lg-100
            .row.my-60
                .col-12.col-lg-6
                    h3.fs-14.fs-lg-24.fw-600.text-gray4 VIP ÇOCUK
                    p.special-title.fs-24.fs-lg-32.fw-600.mt-10.mt-lg-20.w-75 Çocuklara Özel İlk Depart
                            span man Mağazası "Vip Çocuk"
                .col-12.col-lg-6
                    .w-lg-75.fs-20.fs-28.mt-15
                        p Vipcocuk.com, 14 yaş altı, sadece çocuklara özel ürünler sunan online alışveriş sitesidir. Çocuk spor giyim, moda, oyuncak, kostüm kategorilerinde dünyaca ünlü 200 üzeri marka seçeneğini ve 10.000’e yakın ürün alternatifini Türkiye’nin her yerine sevketmektedir.
            .about-content-wrapper.d-lg-grid
                    //.corporate-title
                        h3.fs-14.fs-lg-24.fw-600.text-gray4 VIP ÇOCUK
                        p.special-title.fs-24.fs-lg-32.fw-600.mt-10.mt-lg-20 Çocuklara Özel İlk Depart
                            span man Mağazası "Vip Çocuk"
                    .corporate-img.py-30.py-lg-0
                        +picture('ratio ratio-corporate-vertical', true, dirUploads + 'corporate/vip-child-small.jpg', dirUploads + 'corporate/vip-child-small.jpg', dirUploads + 'corporate/vip-child-small.jpg')(class="w-100", alt="slide 1")
                    .corporate-content.fs-20
                        p Yorucu ve stresli alışveriş maratonunu aileler için keyifli ve kolay hale getirmektedir. Tek bir tuşla adidas, Nike ve Puma gibi en inovatif ve prestijli spor markalarını ayağınıza getirmektedir.
                        p 2012 yılında İstanbul’da, dünyanın en iyi çocuk markalarını tek bir tuş ile ebeveynlerin ayağına getirebilmek amacı ile kuruldu. Tarzları ne olursa olsun hem sizin hem çocuklarınızın sevebileceği kullanışlı ve pratik parçalar vipcocuk.com’da.
                        p vipcocuk.com'da satılan tüm markalar/ürünler %100 Orjinaldir ve adınıza faturalandırılmaktadır.
                        p vipcocuk.com bir KORAYSPOR iştirakidir.
                        p.fw-600 Vip Çocuk’u Radarınıza Alın!
                        p Sezon açılışlarından, fırsatlardan, yeni markalardan hızlıca haberdar olabilmek için bizi sosyal medyada da takip edin.
                        ul.list-unstyled.d-flex.mt-40
                            li.me-30 
                                a(href="https://www.facebook.com/", target="blank")
                                    +icon("facebook").fs-28.bg-white.rounded-circle.p-5
                            li.me-30
                                a(href="https://twitter.com/", target="blank") 
                                    +icon("twitter").fs-28.bg-white.rounded-circle.p-5 
                            li.me-30
                                a(href="https://www.instagram.com/", target="blank") 
                                    +icon("instagram").fs-28.bg-white.rounded-circle.p-5
                            li
                                a(href="https://www.youtube.com/", target="blank") 
                                    +icon("pinterest").fs-28.bg-white.rounded-circle.p-5
    .about-info
        .container.px-lg-100    
            .row.mt-60.border-top.py-30.py-lg-60
                .col-12.col-lg-6
                    h3.fs-14.fs-lg-24.fw-600.text-gray4 GÜVENLİ ALIŞVERİŞ
                    p.special-title.fs-32.fs-lg-40.fw-600.mt-15.me-30 Sen seçimine odaklan, beğendi
                        span ğini al, kolaylıkla ve güvenle öde
                .col-12.col-lg-6
                    .w-lg-75.mt-20
                        p Visa, Mastercard, Havale, PayPal Kapıda Nakit ve Kapıda Kredi Kartı ile Ödeme gibi farklı ödeme seçenekleri sunuyoruz. Türkiye’nin her yerine tüm alışverişlerinizde Ücretsiz Kargo avantajı sunuyoruz. 30 gün içerisinde ücretsiz Değişim ve İade hakkı sağlıyoruz. Telefonla sipariş alıyoruz. Müşteri Hizmetleri servis kalitemizi her gün daha iyiye taşımak için çalışıyoruz.
            .row.mt-60.g-20.border-top.py-30.py-lg-60
                .col-12.col-lg-6
                    h3.fs-14.fs-lg-24.fw-600.text-gray4 ŞİMDİ SOR
                    p.special-title.fs-32.fs-lg-40.fw-600.mt-15.me-30 Kararsız mı kaldın, aradığın rengi ya da numarayı mı bulam
                        span adın, aklına takılmasın, şimdi ara, hemen sor
                .col-12.col-lg-6
                    .w-lg-75.mt-20
                        p Sizi de seçkin müşterilerimiz arasında görmek arzusundayız.
                        p Daha fazla yardıma ihtiyacınız varsa bizi arayın: 0850 000 00
                        p Sizin için email atmak daha kolay ise bize sorunuzu email ile gönderin: <br>musteri_iliskileri@vipcocuk.com<br>info@korayspor.com
                        p Keyifli alışverişler dileriz!
            