extends layouts/default.pug

block prepend head
    - var pageTitle = "Guide"
    - var pageDescription = "Guide Description"
    - var pageName = "guide"
    - var pageClass = ""

block content
    .container
        .header-logo-wrapper
            .container
                .header-logo
                    a(href="/")
                        +img('ratio-logo ratio-bg-remove', false, dirImages + 'korayspor.svg')
        h2.border-bottom.mb-10.pb-10.border-green Buttons
        section.mt-10
            a.btn.btn-primary(href="javascript:void(0)") Daha fazla
        section.mt-10
            a.btn.btn-lg.btn-white.btn-icon-right(href="javascript:void(0)")
                span  Daha Fazla
                +icon("caret-right").fs-12
        section.mt-10
            a.btn.btn-lg.btn-white.btn-icon-left(href="javascript:void(0)")
                +icon("arrow-left")
                span  Daha Fazla
        section.mt-10
            a.btn.btn-white(href="javascript:void(0)") Daha fazla
        section.mt-10
            a.btn.btn-dark.btn-lg(href="javascript:void(0)") Ödeme Yap
        section.mt-10
            a.btn.btn-dark.btn-lg.disabled(href="javascript:void(0)") Ödeme Yap
        section.mt-10
            a.btn.btn-dark.btn-lg.btn-icon-right(href="javascript:void(0)") 
                span Daha fazla yükle 
                +icon("wicon-plus")
        section.mt-10
            a.btn.btn-lg.btn-white.btn-icon-left(href="javascript:void(0)")
                +icon("box")
                span  Daha Fazla

        section.mt-10
            a.btn.btn-lg.btn-white(href="javascript:void(0)")
                span Koşu

        section.mt-10
            a.btn.btn-lg.btn-gray(href="javascript:void(0)")
                span Koşu

        section.mt-10
            a.btn.btn-lg.btn-outline-dark(href="javascript:void(0)")
                span Sepete Ekle

        section.mt-10
            a.btn.btn-lg.btn-white.btn-icon-left(href="javascript:void(0)")
                +icon("box")
                span.ms-10 Kargo Takibi: 116440632413
        
        section.mt-10
            a.btn.btn-lg.btn-white.btn-icon-left(href="javascript:void(0)")
                +icon("box")
                span.ms-10 Sipariş Takibi

        section.mt-10
            a.btn.btn-lg.btn-white.btn-icon-left(href="javascript:void(0)")
                +icon("store")
                span.ms-10 Mağaza Bul

        section.mt-10
            a.btn.btn-lg.btn-white.btn-icon-left(href="javascript:void(0)")
                +icon("headset")
                span.ms-10 Müşteri Hizmetleri

        section.mt-10
            a.btn.btn-lg.btn-white.btn-icon-left(href="javascript:void(0)")
                +icon("whatsapp")
                span.ms-10 Canlı Destek 1

        section.mt-10
            a.btn.btn-white.btn-icon-left(href="javascript:void(0)")
                +icon("caret-left")

        section.mt-10
            a.btn.btn-white.btn-icon-left(href="javascript:void(0)")
                +icon("caret-right")
            
            // buttons end

            section.guideline.mb-50
                h2.guideline__h2.guideline__h2.border-bottom.mb-10.pb-10.border-green Icon Set
                .row.row-cols-2.row-cols-lg-4
                    div.mt-10
                        +icon("menu")
                        span.ms-20 menu
                    div.mt-10
                        +icon("archive-fill")
                        span.ms-20 archive-fill
                    div.mt-10
                        +icon("archive-full")
                        span.ms-20 archive-full   
                    div.mt-10
                        +icon("arrow-left-right")
                        span.ms-20 arrow-left-right

                    div.mt-10
                        +icon("arrow-left")
                        span.ms-20 arrow-left

                    div.mt-10
                        +icon("arrow-right")
                        span.ms-20 arrow-right

                    div.mt-10
                        +icon("bag")
                        span.ms-20 bag

                    div.mt-10
                        +icon("bell")
                        span.ms-20 bell

                    div.mt-10
                        +icon("box")
                        span.ms-20 box

                    div.mt-10
                        +icon("box-open")
                        span.ms-20 box-open

                    div.mt-10
                        +icon("burger")
                        span.ms-20 burger

                    div.mt-10
                        +icon("caret-down")
                        span.ms-20 caret-down

                    div.mt-10
                        +icon("caret-left")
                        span.ms-20 caret-left

                    div.mt-10
                        +icon("caret-right")
                        span.ms-20 caret-right

                    div.mt-10
                        +icon("caret-up")
                        span.ms-20 caret-up

                    div.mt-10
                        +icon("check")
                        span.ms-20 check

                    div.mt-10
                        +icon("checked")
                        span.ms-20 checked

                    div.mt-10
                        +icon("checked-big")
                        span.ms-20 checked-big

                    div.mt-10
                        +icon("close")
                        span.ms-20 close

                    div.mt-10
                        +icon("dot")
                        span.ms-20 dot

                    div.mt-10
                        +icon("envelope")
                        span.ms-20 envelope

                    div.mt-10
                        +icon("eye-open")
                        span.ms-20 eye-open

                    div.mt-10
                        +icon("eye-close")
                        span.ms-20 eye-close

                    div.mt-10
                        +icon("filters")
                        span.ms-20 filters

                

                    div.mt-10
                        +icon("headset")
                        span.ms-20 headset

                    div.mt-10
                        +icon("home")
                        span.ms-20 home 

                
                    
                    div.mt-10
                        +icon("info")
                        span.ms-20 info

                    div.mt-10
                        +icon("korayspor")
                        span.ms-20 korayspor
                    
                    div.mt-10
                        +icon("map")
                        span.ms-20 map

                    div.mt-10
                        +icon("minus")
                        span.ms-20 minus

                    div.mt-10
                        +icon("not-checked")
                        span.ms-20 not-checked

                    div.mt-10
                        +icon("not-checked-big")
                        span.ms-20 not-checked-big

                    div.mt-10
                        +icon("notes")
                        span.ms-20 notes

                    div.mt-10
                        +icon("one-in-line")
                        span.ms-20 one-in-line

                    div.mt-10
                        +icon("pipe")
                        span.ms-20 pipe

                    div.mt-10
                        +icon("play-rounded")
                        span.ms-20 play-rounded

                    div.mt-10
                        +icon("play-small")
                        span.ms-20 play-small

                    div.mt-10
                        +icon("plus")
                        span.ms-20 plus

                    div.mt-10
                        +icon("plus")
                        span.ms-20 plus

                    div.mt-10
                        +icon("primeknit")
                        span.ms-20 primeknit 
                    
                    div.mt-10
                        +icon("return")
                        span.ms-20 return

                    div.mt-10
                        +icon("search")
                        span.ms-20 search 

                    div.mt-10
                        +icon("shopping-bag")
                        span.ms-20 shopping-bag 
                    div.mt-10
                        +icon("sound")
                        span.ms-20 sound

                    div.mt-10
                        +icon("star")
                        span.ms-20 star

                    div.mt-10
                        +icon("store")
                        span.ms-20 store 

                    div.mt-10
                        +icon("trash")
                        span.ms-20 trash

                    div.mt-10
                        +icon("truck")
                        span.ms-20 truck

                    div.mt-10
                        +icon("turkey")
                        span.ms-20 turkey

                    div.mt-10
                        +icon("two-in-line")
                        span.ms-20 two-in-line

                    div.mt-10
                        +icon("upload")
                        span.ms-20 upload

                    div.mt-10
                        +icon("user")
                        span.ms-20 user 

                    div.mt-10
                        +icon("warning")
                        span.ms-20 warning

                    
            //Icons set End
            section.guideline.mb-50
                h2.guideline__h2.guideline__h2.border-bottom.mb-10.pb-10.border-green Badge
                .row.row-cols-2.row-cols-lg-4
                    div.mt-10
                        +icon("yaripro")
                        span.ms-20 yaripro
                    div.mt-10
                        +icon("elite")
                        span.ms-20 elite 
                    div.mt-10
                        +icon("size-3")
                        span.ms-20 size-3 
                    div.mt-10
                        +icon("size-5")
                        span.ms-20 size-5
                    div.mt-10
                        +icon("kaztuyu")
                        span.ms-20 kaztuyu
                    div.mt-10
                        +icon("indirim")
                        span.ms-20 indirim
                    div.mt-10
                        +icon("goretex")
                        span.ms-20 goretex
                    div.mt-10
                        +icon("dri-fit")
                        span.ms-20 dri-fit

            section.guideline.mb-50
                h2.guideline__h2.guideline__h2.border-bottom.mb-10.pb-10.border-green Social Icon Set
                .row.row-cols-2.row-cols-lg-4
                    div.mt-10
                        +icon("facebook")
                        span.ms-20 facebook

                    div.mt-10
                        +icon("instagram")
                        span.ms-20 instagram

                    div.mt-10
                        +icon("pinterest")
                        span.ms-20 pinterest

                    div.mt-10
                        +icon("twitter")
                        span.ms-20 twitter

                    div.mt-10
                        +icon("whatsapp")
                        span.ms-20 whatsapp 
                    div.mt-10
                        +icon("youtube")
                        span.ms-20 youtube
            //Social Icon Set end

            section.mt-50.bg-white
                h2 Forms and Input
                form.bg-white.w-50.p-30
                    .ems-field.form-floating.mb-40
                        input#UserNameOrEmail.input-login.form-control(type='text' name='UserNameOrEmail' placeholder='E-Mail' value='')
                        label(for='UserNameOrEmail') E-Mail
                        .ems-field-feedback
                    .ems-field.form-floating.mb-40
                        input#UserNameOrEmail.input-login.form-control(type='password' name='Password' placeholder='Şifre' value='')
                        label(for='Password') Şifre
                        a.show-pass-button.position-absolute.me-10.end-0(href='javascript:void(0);' onclick='showHidePassword(this);')
                            +icon("eye-close").fs-16
                        .ems-field-feedback

                    .ems-field.form-floating.mb-40.ems-field-msg-error
                        input#UserNameOrEmail.input-login.form-control(type='password' name='Password' placeholder='Şifre' value='')
                        label(for='UserNameOrEmail') Şifre
                        a.show-pass-button.position-absolute.me-10.end-0(href='javascript:void(0);' onclick='showHidePassword(this);')
                             +icon("eye-close").fs-16
                        .ems-field-feedback Warning or an info
        
                      
            section.guideline.mb-50
                h2.guideline__h2.border-bottom.mb-10.pb-10.border-green UI Colors
                .row.row-cols-2.row-cols-lg-4
                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.primaryspan
                        span $primary

                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.coralspan
                        span $coral
                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.accentspan
                        span $accent

                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.blackspan
                        span $black

                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.whitespan
                        span $white "same as Snow"

                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.lightspan
                        span $light "same as background"

                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.grayspan
                        span $gray
                    
                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.gray2span
                        span $gray2
                    
                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.gray3span
                        span $gray3
                    
                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.gray4span
                        span $gray4

                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.greenspan
                        span $green
                    
                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.goldspan
                        span $gold

                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.infospan
                        span $info

                    .mt-10.d-flex.align-items-center.guideline__color
                        span.w-25.h-100.me-15.d-inline-block.h-100.warningspan
                        span $warning
            //Colors end
            section.guideline.mb-50
                h2.guideline__h2.border-bottom.mb-10.pb-10.border-green  PRODUCT CARDS
                .d-flex
                    .product-card 
                        .ems-card-favorito 
                            +icon("archive-fill")
                        .ems-card-picture
                            +picture('ratio ratio-prd', dirUploads + 'product-detail/prd-detail-2x.png', dirUploads + 'product-detail/prd-detail-x.png', dirUploads + 'product-detail/prd-detail-x.png')(class="w-100 img-fluid", alt="slide 1")
                        .ems-card-logo
                            span Adidas
                        .ems-card-badge
                            +icon("elite")
                        .ems-card-footer
                            h2.card-title Terrex Agravic Tr
                            span.cheap-price 1200,00 TL 
                            span.red-price 999,00 TL
                    .product-card 
                        .ems-card-favorito 
                            +icon("archive-fill")
                        .ems-card-picture
                            +picture('ratio ratio-prd', dirUploads + 'product-detail/prd-detail-2x.png', dirUploads + 'product-detail/prd-detail-x.png', dirUploads + 'product-detail/prd-detail-x.png')(class="w-100 img-fluid", alt="slide 1")
                        .ems-card-logo
                            span Adidas
                        .ems-card-badge
                            +icon("elite")
                        .ems-card-footer
                            h2.card-title Terrex Agravic Tr
                            span.price 999,00 TL

            section.row
                .col-6
                    span ratio-prd 
                    code.ms-15 calc(360 / 450 * 100%)
                    +picture('ratio-bg-remove ratio ratio-prd', true, dirUploads + 'product-detail/prd-detail-2x.png', dirUploads + 'product-detail/prd-detail-x.png', dirUploads + 'product-detail/prd-detail-x.png')(class="w-100 img-fluid", alt="slide 1")
                                    
            section.row
                .siparis.d-flex.align-items-center
                    +icon("dot").fill-primary
                    span Sipariş Hazırlanıyor

            section.guideline.mb-50
                h2.guideline__h2.border-bottom.mb-10.pb-10.border-green FONTS & COLORS
                p Vela Sans GX
                ul.font-list
                    li
                        h3  Desc
                        p   Small Input
                        p   Small
                        p   Small Highlight
                        p   Body
                        p   Body Highlight
                        p   Large
                        p   H1
                        p   H2
                        p   H3
                        p   H4
                    li
                        h3 Font
                        p   Vela Sans GX Regular
                        p   Vela Sans GX Regular
                        p   Vela Sans GX Semibold
                        p   Vela Sans GX Regular
                        p   Vela Sans GX Semibold
                        p   Vela Sans GX Regular
                        p   Vela Sans GX Semibold
                        p   Vela Sans GX Semibold
                        p   Vela Sans GX Bold
                        p   Vela Sans GX Bold
                    li
                        h3  Size
                        p   11
                        p   13
                        p   13
                        p   16
                        p   16
                        p   20
                        p   54
                        p   40
                        p   30
                        p   24
                    li
                        h3  Line Height
                        p   140%
                        p   140%
                        p   140%
                        p   140%
                        p   140%
                        p   140%
                        p   120%
                        p   120%
                        p   110%
                        p   110%
            section.guideline.mb-50
                h2.guideline__h2.border-bottom.mb-10.pb-10.border-green Bank
            section.guideline.mb-50
                h2.guideline__h2.border-bottom.mb-10.pb-10.border-green 
                    .row
                        .col-6 
                            +img(src='uploads/front.svg')
                            +img(src='uploads/backcard.svg')
                        .col-6 
                            div.mt-10
                                +icon("bonus")
                                span.ms-20 bonus
                            div.mt-10
                                +icon("garanti")
                                span.ms-20 garanti
                            div.mt-10
                                +icon("masterpass")
                                span.ms-20 masterpass
                            div.mt-10
                                +icon("akbank")
                                span.ms-20 akbank
                        
                
                









                        
                        
                        









