extends layouts/default.pug

block prepend head
    - var pageTitle = "Page Meta Title"
    - var pageDescription = "Page Meta Desc"
    - var pageName = "Home"
    - var pageClass = "page-body-class"

block content
   div Page Content