extends layouts/default.pug

block prepend head
    - var pageTitle = "Koray Spor Home"
    - var pageDescription = "Koray Spor Home"
    - var pageName = "home"
    - var pageClass = "home"

block content
    .container