extends layouts/default.pug

block prepend head
    - var pageTitle = "Korayspor Product List"
    - var pageDescription = "Product List sayfası, Korayspor"
    - var pageName = "product-list"
    - var pageClass = " view-6 view-2"

block content 
    .breadcrumb-container.container.px-lg-50
        +breadcrumb(['Anasayfa', '/list'], ['Kurumsal', '/list'], ['Hakkımızda'])
    .container.px-lg-100
        include includes/marks-menu
        include includes/letter-menu
    .ems-prd-list.py-30
        .container.px-lg-50
            ul.ems-prd-list-wrapper.ems-prd-with-blog.row.g-5.list-unstyled
                - for (var y = 0; y < 12; y++)
                    li.d-flex.align-items-center.justify-content-center
                        +marks()