extends layouts/default.pug

block prepend head
    - var pageTitle = "Koray Spor Order"
    - var pageDescription = "Koray Spor Order"
    - var pageName = "order-track"
    - var pageClass = "order track"

block content
    .container.px-lg-30.mb-20.mb-lg-60
        +breadcrumb([pageName])
        .h-100.position-relative
            +picture('', true, dirImages + 'order-truck/order.png', dirImages + 'order-truck/order.png', dirImages + 'order-truck/order.png')(class="m-hide", alt="slide 1")
            .row.position-absolute.order-menu
                .col-12.col-lg-6.mb-40
                    .order-track-form-container.bg-white
                        form.ems-form(action='/' method='POST' id="order-track-form")
                            div 
                                h2.fw-normal.fs-20.fw-600 Siparişimi Kaydolmadan Verdim
                                .mt-20.mb-40
                                    p.l-h-20 Alışverişinizi misafir olarak gerçekleştirdiyseniz, alışverişiniz sırasında kullandığınız e-posta adresinizi ve sipariş numaranızı aşağıdaki alana girerek kontrol edebilirsiniz.
                                    .alert.alert-primary Sipariş mevcut değil ya da girilen bilgiler yanlış. Lütfen bilgileri gözden geçirip tekrar deneyin.
                            .ems-field.form-floating.mb-20
                                input#UserEmail.input-login.form-control(type='text' name='UserEmail' placeholder='E-posta' value='')
                                label(for='UserEmail') E-posta Adresi*
                            .ems-field.form-floating.mb-20
                                input#Order.input-login.form-control(type='text' name='Order' placeholder='Order' value='')
                                label(for='Order') Sipariş Numarası*
                            .fs-12.mb-40 *8 rakamdan oluşan sipariş numarasını girin örn. 03108801
                            button.btn.btn-dark.w-100.btn-lg(type="button") Sipariş Detaylarını Gör
                .col-12.col-lg-6
                    .order-truck.bg-white
                        form.ems-form#login(method='post' action='/tr/LogOn')
                            div 
                                h2.fw-normal.fs-20.fw-600 Siparişimi Kayıtlı Kullanıcı Olarak Verdim
                                .mt-20.mb-120
                                    p.l-h-20 Alışverişinizi misafir olarak gerçekleştirdiyseniz, alışverişiniz sırasında kullandığınız e-posta adresinizi ve sipariş numaranızı aşağıdaki alana girerek kontrol edebilirsiniz.
                            .row.g-0
                                .ems-field.form-floating.mb-20
                                    input#UserEmail.input-login.form-control(type='text' name='UserEmail' placeholder='E-posta' value='')
                                    label(for='UserEmail') E-posta Adresi*
                                .ems-field.form-floating.mb-10  
                                    input#UserNameOrEmail.input-login.form-control(type='password' name='Password' placeholder='Şifre' value='')
                                    label(for='Password') Şifre*
                                .ems-field.pt-20.pb-25
                                    .d-flex.align-items-center.justify-content-between
                                        .form-check
                                            input.form-check-input#RememberMe(type='checkbox' name='RememberMe' value='true')
                                            label.form-check-label(for='RememberMe').fs-14 Beni hatırla
                                        a(href='/sifremi-unuttum').fs-14.text-decoration-underline Şifremi Unuttum
                                .ems-field
                                    .d-flex.align-items-center.justify-content-between
                                        a.btn.btn-black.w-100.btn-lg(type='submit' aria-label="Submit" href="#") Giriş Yap
                            
                