extends layouts/default.pug

block prepend head
    - var pageTitle = "Koray Spor Home"
    - var pageDescription = "Koray Spor Home"
    - var pageName = "dark-theme"
    - var pageClass = ""

block content
    span product list