extends layouts/default.pug

block prepend head
    - var pageTitle = "Korayspor Product List"
    - var pageDescription = "Product List sayfası, Korayspor"
    - var pageName = "product-list"
    - var pageClass = "breadcrumb-white view-6 view-2"

block content 
    // No search result
    .ems-search-no-results.text-center.mt-40
        .no-result-icon
            +icon('search')
        h3.fs-16.fw-500.mt-30  “ike” için arama sonuçları
        p.mt-15.fs-14 Aradığınız kriterlere uygun ürün bulunamadı. Yeniden arayabilir ya da ana menüyü kullanarak istediğiniz ürünü ya da kategoriyi bulabilirsiniz.
        a.btn.btn-lg.btn-outline-dark(href="javascript:void(0)")
            span Anasayfaya Dön
        .search-suggest.text-center
            h3.fs-16.fw-500.mt-30  “ike” yerine şunlara bak
            .search-suggest-list.ems-scrollbar-horizontal.ems-scrollbar-hide
                ul.d-flex.justify-content-center.flex-wrap.gap-50.gap-20.list-unstyled.fs-14.mt-30
                    li
                        a(href="#")
                            span Sneaker
                    li
                        a(href="#")
                            span Nike
                    li
                        a(href="#")
                            span Tshirt
                    li
                        a(href="#")
                            span Erkek Ayakkabı                        