extends layouts/default.pug

block prepend head
    - var pageTitle = "Korayspor Product List"
    - var pageDescription = "Product List sayfası, Korayspor"
    - var pageName = "product-list"
    - var pageClass = "view-6 view-2"

block content 
    .prd-list-top
        .container.px-0.px-lg-15
            .position-relative
                //breadcrumb-white altındaki breadcrumb tamamen beyaz olacak
                +breadcrumb(['Erkek', '/list'], ['Ayakkabı', '/list'], ['Günlük']).breadcrumb-absolute
                //iki tip resim yüksekliğine göre ayarlama yapıldı.  ratio-lg-prd-list-cover-type-1 / ratio-lg-prd-list-cover-type-2
                //+picture("ratio ratio-prd-list-cover ratio-lg-prd-list-cover-type-1", true, dirUploads + "/product-list-cover/cover-type-1-mobile.jpg", dirUploads + "product-list-cover/cover-type-1-mobile.jpg", dirUploads + "product-list-cover/cover-type-1.jpg").w-100
                //+picture("ratio ratio-prd-list-cover ratio-lg-prd-list-cover-type-2", true, dirUploads + "/product-list-cover/cover-type-2-mobile.jpg", dirUploads + "product-list-cover/cover-type-2-mobile.jpg", dirUploads + "product-list-cover/cover-type-2.jpg").w-100
    .prd-list-filter.pt-30.pb-lg-30
        .container.px-lg-50
            .d-flex.flex-column.flex-lg-row.align-items-lg-center.justify-content-lg-between
                //h2.fw-600.fs-32.fs-lg-40 Kadın Koşu Ayakkabı
                // search title
                .d-lg-flex.align-items-center
                    h3.fw-600.fs-32.fs-lg-40 “Sneaker” için sonuçlar
                    p.fs-14.fs-lg-24.text-gray2.mt-20.mt-lg-0.ms-lg-20 24 sonuç listeleniyor
                .d-lg-flex
                    .d-flex.my-25.my-lg-0
                        a.ems-view-range-trigger.h-100.d-flex.align-items-center(href="javascript:void(0)" aria-label="View")
                            +icon("two-in-line").fs-16
                        a.ems-view-range-trigger.h-100.d-flex.align-items-center.ms-30(href="javascript:void(0)" aria-label="View")
                            +icon("one-in-line").fs-16
                    .d-flex.gap-10
                        a.btn.btn-lg.btn-white.btn-icon-right.ms-lg-30(href="javascript:void(0)" aria-label="Edit" data-target="body" data-ready="ems-prd-filter-ready" data-animate="ems-prd-filter-animate" data-type="add" ) 
                            span.fs-14.me-10 Sırala
                            +icon("caret-down")
                        a.filter-trigger.btn.btn-lg.btn-dark-light.btn-icon-right(href="javascript:void(0)" aria-label="Edit" data-target="body" data-ready="ems-prd-filter-ready" data-animate="ems-prd-filter-animate" data-type="add" ) 
                            span.fs-14.me-10 Filtrele
                            +icon("filters")
            ul.filter-cat.list-unstyled.d-flex.flex-wrap.gap-5.gap-lg-10.mt-30
                // search filter
                li
                    a.btn.btn-gray(href="") Tümü (24)
                li
                    a.btn.btn-gray4(href="") Yeniler
                li
                    a.btn.btn-gray4(href="") İndirimdekiler
                   
    .ems-prd-list.py-30
        .container.px-lg-50
            ul.ems-prd-list-wrapper.ems-prd-with-blog.row.g-5.list-unstyled
                - for (var y = 0; y < 5; y++)
                    li
                        +product()
                li.prd-blog-post.prd-blog-post-img.px-lg-50
                    //(data-background=dirUploads + 'product-list-banner/prd-list-banner.jpg')
                    .position-relative
                        +picture("ratio ratio-prd-list-blog-mobile ratio-lg-prd-list-blog", true, dirUploads + "product-list-banner/prd-list-banner.jpg", dirUploads + "product-list-banner/prd-list-banner.jpg", dirUploads + "product-list-banner/prd-list-banner.jpg").w-100
                        .img-overlay.tex-white
                            .w-75.position-absolute.bottom-0.start-0.ms-40.mb-40
                                h3.blog-title.fs-32 Kafanızda soru işareti kalmasın 
                                    span WhatsApp’tan bize sorun
                                a.btn.btn-lg.btn-white.btn-icon-right.mt-15(href="javascript:void(0)")
                                    span Sohbeti aç
                                    +icon("whatsapp")
                - for (var y = 0; y < 20; y++)
                    li
                        +product()
    .container.px-lg-50.mt-40.mt-lg-100
        .text-center
            span.fw-600.fs-13 28  /  841
            .prd-list-progress.progress
                .progress-bar.bg-coral(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%")
    .container         
        .text-center.my-30             
            a.btn.btn-dark.btn-lg.btn-icon-right.mx-auto(href="javascript:void(0)") 
                span Daha fazla yükle 
                +icon("wicon-plus")
    .mt-100.mb-60
        h3.fs-20.fs-lg-30.text-center.fw-700.w-lg-25.mx-auto Diğer kategorilere göz atmak ister misiniz?
        ul.prd-list-other.list-unstyled.d-flex.flex-wrap.gap-20.text-center.justify-content-center.fw-600.mt-40.mt-lg-50
            li
                a(href="").btn
                    span Günlük
            li
                a(href="").btn
                    span Originals
            li
                a(href="").btn
                    span Koşu
            li
                a(href="").btn
                    span Bot
            li
                a(href="").btn
                    span Çizme
            li
                a(href="").btn
                    span Outdoor
            li
                a(href="").btn
                    span Skate & Kay Kay
            li
                a(href="").btn
                    span Tenis
            li
                a(href="").btn
                    span Sandalet
            li
                a(href="").btn
                    span Terlik
            li
                a(href="").btn
                    span Yürüyüş  
            li
                a(href="").btn
                    span Indoor                                                                                                                                                                          


    .container.px-lg-50
        .border-top.border-bottom
            .ems-seo.w-lg-50.text-black.ms-lg-100.my-60
                .ems-seo-text
                    div
                        h3.fs-20.fs-lg-30.mb-15 Günlük Erkek Spor Ayakkabıları <br> Modelleri Fiyatları
                        p Günlük Erkek Spor Ayakkabıkategorimizde; dünyaca ünlü Nike, Adidas, Puma, Reebok, Under Armour, New Balance, Asics, Joma, Mizuno, Skechers, Hummel, Kinetix, Grisport, Superga, The North Face, Converse, Jack Wolfskin, Timberland, Salomon, Lowa, Zamberlan, Merrell, Asolo, Imac, Cat, Scooter ve daha birçok tanınmış markanın, yeni sezon olarak tasarladığı, ekstra konfor ve rahatlık sağlayan ürünlerini kategorimizde bulabilirsiniz.
                a.btn.btn-white.btn-more.read-me-more.moreTextCls.mt-40.mt-lg-15(href="javascript:void(0);")
                    span.more Daha Fazla
                    span.less Daralt
    //Filter Modal
    .ems-prd-filter-overlay.ems-overlay(data-target="body" data-ready="ems-prd-filter-ready" data-animate="ems-prd-filter-animate" data-type="remove")
    .ems-modal.ems-modal-lg.ems-prd-filter.ems-modal-end.ems-modal-lg-end.bg-light
        .modal-header.p-20.mx-10.d-flex.justify-content-between.p-0.border-0.mb-30
            span.fs-13 123 ürün listeleniyor
            a.d-flex(href="javascript:void(0)" aria-label="close" data-target="body" data-ready="ems-prd-filter-ready" data-animate="ems-prd-filter-animate" data-type="remove")
                +icon("close").fs-13
        .modal-body.pt-0.px-20.mx-10.mb-20.ems-scrollbar.ems-scrollbar-vertical
            //ul.list-unstyled.accordion
                li.border-bottom.pb-20.selected(rel="tab-2") 
                    a.fs-16.d-flex.justify-content-between.align-items-center(href="javascript:void(0);") 
                        span.fs-lg-18 Sırala
                    ul.lv2.list-unstyled.py-30
                        li 
                            a.check-btn.check-btn-radio.position-relative.selected(href="javascript:void(0);" aria-label="check") 
                                span.ms-20 Önerilen
                        li 
                            a.check-btn.check-btn-radio.position-relative(href="javascript:void(0);" aria-label="check") 
                                span.ms-20 Artan Fiyat
                        li 
                            a.check-btn.check-btn-radio.position-relative(href="javascript:void(0);" aria-label="check") 
                                span.ms-20 Azalan Fiyat
                        li 
                            a.check-btn.check-btn-radio.position-relative(href="javascript:void(0);" aria-label="check") 
                                span.ms-20 Popüler
                        li 
                            a.check-btn.check-btn-radio.position-relative(href="javascript:void(0);" aria-label="check") 
                                span.ms-20 En Yeniler
            ul.list-unstyled.accordion.prd-filter-cat
                li.border-top.py-20.selected(rel="tab-3") 
                    a.fs-16.fw-600.d-flex.justify-content-between.align-items-center(href="javascript:void(0);") 
                        p Kategoriler: 
                          span.text-gray Ayakkabı, Bot
                    ul.lv2.pt-30.list-unstyled.ems-scrollbar.ems-scrollbar-vertical.fs-13.fw-600.case-cat
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check") 
                                span Günlük
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check") 
                                span Originals
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Koşu Ayakkabıları
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Futbol Ayakkabıları
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Outdoor Ayakkabıları
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Çocuk Ayakkabıları
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Tenis
                        li.position-relative.filter-item.mb-20
                            a.selected(href="javascript:void(0);" aria-label="check")  
                                span Skate-KayKay
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Basketbol ayakkabıları
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Bot
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Çizme
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Klasik
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Indoor
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Sandalet
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Terlik
                        li.position-relative.filter-item.mb-20
                            a(href="javascript:void(0);" aria-label="check")  
                                span Havuz&Deniz Ayakkabıları
                       
            ul.list-unstyled.accordion.prd-filter-brands
                li.border-top.py-20.selected(rel="tab-3") 
                    a.fs-16.fw-600.d-flex.justify-content-between.align-items-center(href="javascript:void(0);") 
                        p Marka
                    ul.lv2.pt-30.list-unstyled.ems-scrollbar.ems-scrollbar-vertical.fs-13.fw-600
                        -for(var i=0; i<2; i++)
                            li.position-relative.filter-item.mb-20
                                a.check-btn.selected(href="javascript:void(0);" aria-label="check") 
                                    span.ms-30 Nike 
                                    span.filter-qty 38
                            li.position-relative.filter-item.mb-20
                                a.check-btn.check(href="javascript:void(0);" aria-label="check") 
                                    span.ms-30 Sketchers
                                    span.filter-qty 82
                            li.position-relative.filter-item.mb-20
                                a.check-btn.selected(href="javascript:void(0);" aria-label="check") 
                                    span.ms-30 The North Face 
                                    span.filter-qty 7
                            li.position-relative.filter-item.mb-20
                                a.check-btn(href="javascript:void(0);" aria-label="check") 
                                    span.ms-30 Salomon 
                                    span.filter-qty 5
                            li.position-relative.filter-item.mb-20
                                a.check-btn(href="javascript:void(0);" aria-label="check") 
                                    span.ms-30 Lumberjack 
                                    span.filter-qty 12
            ul.list-unstyled.accordion
                li.border-top.py-20.selected(rel="tab-2") 
                    a.fs-16.fw-600.d-flex.justify-content-between.align-items-center(href="javascript:void(0);") 
                        p Renk
                    ul.lv2.list-unstyled.py-30.case-color
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="color") 
                                span.prd-filter-color(style="--filter-color:#747474")
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="color") 
                                span.prd-filter-color(style="--filter-color:#B99A89")
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="color") 
                                span.prd-filter-color(style="--filter-color:#CCC63F")
                        li.filter-item.position-relative
                            a.stretched-link.selected(href="javascript:void(0);" aria-label="color") 
                                span.prd-filter-color(style="--filter-color:#EB7340")
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="color") 
                                span.prd-filter-color(style="--filter-color:#C70024")
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="color") 
                                span.prd-filter-color(style="--filter-color:#44793B")
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="color") 
                                span.prd-filter-color(style="--filter-color:#8EB887")
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="color") 
                                span.prd-filter-color(style="--filter-color:#734F98")        
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="color") 
                                span.prd-filter-color(style="--filter-color:#6BA9CB")
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="color") 
                                span.prd-filter-color(style="--filter-color:#60453F")          
            ul.list-unstyled.accordion
                li.border-top.py-20.selected(rel="tab-2") 
                    a.fs-16.fw-600.d-flex.justify-content-between.align-items-center(href="javascript:void(0);") 
                        p Beden
                    ul.lv2.list-unstyled.py-30.case-size
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="size") 
                                span.prd-filter-size 40
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="size") 
                                span.prd-filter-size 40.5
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="size") 
                                span.prd-filter-size 41
                        li.filter-item.position-relative
                            a.stretched-link.selected(href="javascript:void(0);" aria-label="size") 
                                span.prd-filter-size 42.25
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="size") 
                                span.prd-filter-size 43
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="size") 
                                span.prd-filter-size 42
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="size") 
                                span.prd-filter-size 44
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="size") 
                                span.prd-filter-size 45
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="size") 
                                span.prd-filter-size 46
                        li.filter-item.position-relative
                            a.stretched-link(href="javascript:void(0);" aria-label="size") 
                                span.prd-filter-size 45.5                 
            ul.list-unstyled.accordion
                li.border-top.py-20.selected(rel="tab-3") 
                    a.fs-16.fw-600.d-flex.justify-content-between.align-items-center(href="javascript:void(0);") 
                        p Fiyat Aralığı
                    .lv2.list-unstyled.py-50
                        .range-slider.d-flex.position-relative
                            .d-flex.position-absolute.range-output
                                output#range1-tooltip 210 TL - 
                                output#range2-tooltip 1800 TL
                            input(type="range" min="500" max="7000"  value="500" id="range1" step="1").form-range.range-min
                           
                            input(type="range" min="500" max="7000"  value="7000" id="range2" step="1").form-range.range-max
            ul.list-unstyled.accordion.prd-filter-tech
                li.border-top.py-20.selected(rel="tab-3") 
                    a.fs-16.fw-600.d-flex.justify-content-between.align-items-center(href="javascript:void(0);") 
                        p Teknoloji
                    ul.lv2.pt-30.list-unstyled.ems-scrollbar.ems-scrollbar-vertical.fs-13.fw-600
                        li.position-relative.filter-item.mb-20
                            a.check-btn.selected(href="javascript:void(0);" aria-label="check") 
                                span.ms-30 Future Light 
                                span.filter-qty 23
                        li.position-relative.filter-item.mb-20
                            a.check-btn.check(href="javascript:void(0);" aria-label="check") 
                                span.ms-30 Goretex
                                span.filter-qty 82
                        li.position-relative.filter-item.mb-20
                            a.check-btn.selected(href="javascript:void(0);" aria-label="check") 
                                span.ms-30 Gritex
                                span.filter-qty 7
                        li.position-relative.filter-item.mb-20
                            a.check-btn(href="javascript:void(0);" aria-label="check") 
                                span.ms-30 Spotex 
                                span.filter-qty 5
                        li.position-relative.filter-item.mb-20
                            a.check-btn(href="javascript:void(0);" aria-label="check") 
                                span.ms-30 Texapore 
                                span.filter-qty 12
        .modal-footer.p-10.bg-white
            .d-flex.align-items-center.justify-content-between.w-100
                a.cart-footer-link.btn.btn-lg.btn-dark.d-flex.align-items-center.justify-content-end(href="#!" aria-label="search result") Ürünleri Göster  123
                a(href="#!" aria-label="delete" data-key="delete")
                    span.fs-13 Tümünü Temizle
    //Filter Modal
