extends layouts/default.pug

block prepend head
    - var pageTitle = "Korayspor Product Detail"
    - var pageDescription = "Product Detail sayfası, Korayspor"
    - var pageName = "product-detail"
    - var pageClass = "breadcrumb-white"

block content 