extends layouts/default.pug

block prepend head
    - var pageTitle = "Koray Spor Home"
    - var pageDescription = "Koray Spor Home"
    - var pageName = "dark-theme"
    - var pageClass = "dark-theme"

block content
    .cat-header.d-lg-flex.py-50.px-30
        h2.fw-600.fs-54 Futbol
        ul.cat-menu.list-unstyled.d-flex.align-items-center.mt-15.mt-lg-0
            li 
                a(href="").fs-lg-20 
                    span Yeni
            li 
                a(href="").fs-lg-20 
                    span Ayakkabı
            li 
                a(href="").fs-lg-20 
                    span Giyim
            li 
                a(href="").fs-lg-20 
                    span Aksesuar
            li 
                a(href="").fs-lg-20 
                    span Formalar
            li 
                a(href="").fs-lg-20 
                    span Kaleci Ürünleri
            li 
                a(href="").text-coral.fs-lg-20 
                    span İndirim
    .main-slider-section.overflow-hidden
        .container.px-0.px-lg-10
               +swiper('mainSlider', false, true, false, true, true)(class="main-slider")
                -for(var i=0; i<5; i++)
                    li.swiper-slide
                        .ratio.ratio-main-slider-mobile.ratio-md-main-slider.ratio-lg-main-slider
                            picture
                                source.lazy-picture(media='(max-width:0)' srcset='frontend/images/1x1.svg')
                                source(media='(max-width: 767px)' srcset='uploads/slider/slider-mobile.jpg, uploads/slider/football-banner-mobile.jpg 2x')
                                source(media='(min-width: 768px)' srcset='uploads/slider/football-banner.jpg')
                                img.w-100(src='uploads/slider/football-banner-mobile.jpg' alt='slide 1')
                        .banner-overlay
                            .banner-title
                                h3.fs-20.fs-lg-30 Y2K’dan İlham Aldı
                                p.fs-14.fs-lg-16.mt-10 Koleksiyonu keşfet
                            .swiper-progress-bar.position-absolute.start-0.bottom-0.w-100
                                span.swiper-progress.d-block
                    li.swiper-slide
                        .ratio.ratio-main-slider-mobile.ratio-md-main-slider.ratio-lg-main-slider
                            video(data-video="https://player.vimeo.com/progressive_redirect/playback/769802231/rendition/720p/file.mp4?loc=external&signature=9a408598285bb20e9bdbf3057c9e2242fea655179e4d8237640fd020bed51b0a" data-videomobile="https://player.vimeo.com/progressive_redirect/playback/769802231/rendition/720p/file.mp4?loc=external&signature=9a408598285bb20e9bdbf3057c9e2242fea655179e4d8237640fd020bed51b0a" data-poster="banner/video-banner.jpg" data-postermobile="banner/video-banner.jpg" poster="banner/video-banner.jpg" preload="none" autobuffer="autobuffer" playsinline="true" muted="true" src="https://player.vimeo.com/progressive_redirect/playback/769802231/rendition/720p/file.mp4?loc=external&signature=9a408598285bb20e9bdbf3057c9e2242fea655179e4d8237640fd020bed51b0a" )
    .single-banner.container.px-0.px-lg-30.mt-60.type-video
        .w-100.w-lg-75.mx-lg-auto.text-center
            .single-banner-media
                .prm-media.ratio.ratio-single-banner
                    video(id="video" poster=dirUploads +"banner/video-banner.jpg" preload="none" autobuffer="autobuffer" playsinline="true" muted="true")    
                        source(src="https://player.vimeo.com/progressive_redirect/playback/769802231/rendition/720p/file.mp4?loc=external&signature=9a408598285bb20e9bdbf3057c9e2242fea655179e4d8237640fd020bed51b0a" type="video/mp4")
                a.btn.btn-white.btn-sm.position-absolute.btn-iframe-trigger.btn-play.px-10.py-0(id="btn-iframe-trigger" href="javascript:void(0)" aria-label="play")
                    +icon("play-small")
                .position-absolute(id="meta")
                a.btn.btn-white.btn-sm.position-absolute.btn-sound.px-10.py-0(href="javascript:void(0)" aria-label="play")
                    +icon("sound")
            
            .mt-20.mt-lg-40
                h3.fs-32.fs-lg-50.fw-600.mx-10 Ultra Hafif <br>Ultra Hızlı ve <br>Ultra Sağlam
                a.btn.btn-dark-light.btn-lg.mt-20.mt-lg-30(href="javascript:void(0)") Ürünleri Keşfet 
    .category-widget.my-50.overflow-hidden
        .container.px-lg-40
            h2.section.title.fw-600.fs-32.d-lg-none Sneaker’da <br> Öne Çıkanlar
            include includes/product-category-slider      
    .container.px-lg-30
        +special-title()
                                   
    .square-section.container.px-0.px-lg-30.mt-60
        .row.g-5
            .col-12.col-lg-6
                +square-banner()
            .col-12.col-lg-6
                +square-banner()