extends layouts/default.pug

block prepend head
    - var pageTitle = "Koray Spor Forgot Password"
    - var pageDescription = "Koray Spor Forgot Password"
    - var pageName = "Forgot Password"
    - var pageClass = ""

block content
    .login
        .notfound.h-100.position-relative
            +picture('ratio ratio-335x648 ratio-lg-main-slider m-hide', true, dirImages + 'login/login.png', dirImages + 'login/login.png', dirImages + 'login/login.png')(class="", alt="slide 1")
            .login-page
                .d-flex.flex-column.align-items-start
                    .row.g-0
                        .login-left-menu
                            .d-flex.align-items-center
                                +icon("arrow-left").fs-16
                                span.m-5
                                h2.fs-20.fs-lg-24.fw-600 Doğrulama Kodunu Girin
                            p.fs-16.mt-25.l-h-20 Lütfen 0553 160 632 25 numaralı cep telefonunuza SMS ile gönderdiğimiz onay kodunu giriniz. Sadece ilk girişinizde sorulacaktır.
                            <div class="circle-wrap">
                                <div class="circle">
                                <div class="mask full">
                                    <div class="fill"></div>
                                </div>
                                <div class="mask half">
                                    <div class="fill"></div>
                                </div>
                                <div class="inside-circle"> 00:15 </div>
                                </div>
                            </div>
                            .ems-field.form-floating.mb-20.ems-field-msg-error
                                input#Onay.input-login.form-control(type='text' name='Onay' placeholder='Onay' value='')
                                label(for='Onay') Onay Kodu*
                                .ems-field-feedback *Hay aksi! Onay Kodu geçerli değil
                            a(href="#").login-privacy.text-gray.text-center.text-decoration-underline.d-block Onay Kodunu Tekrar Gönder 
                            .btn.btn-dark.btn-lg.w-100.mt-25 Üye Ol